Repository cakephp/cakephp, pull requests merged in 2018-09, with the labels that each got.

#12528 Only store the unique set of middleware.
  src/Routing/RouteBuilder.php
  tests/TestCase/Routing/RouteBuilderTest.php
Labels: http

#12527 Consistent result value for malformed encrypted cookies
  src/Utility/CookieCryptTrait.php
  tests/TestCase/Controller/Component/CookieComponentTest.php
  tests/TestCase/Http/Middleware/EncryptedCookieMiddlewareTest.php
Labels: http, security

#12450 Made FormHelper autoSetCustomValidity option true by default.
  src/View/Helper/FormHelper.php
  tests/TestCase/View/Helper/FormHelperTest.php
Labels: helpers, view

#12534 Implemented a new takeLast() method in Collection
  src/Collection/CollectionInterface.php
  src/Collection/CollectionTrait.php
  tests/TestCase/Collection/CollectionTest.php
Labels: Enhancement, collection

#12520 RFC - Implement a PSR16 bridge for existing Cache adapters
  composer.json
  src/Cache/Cache.php
  src/Cache/InvalidArgumentException.php
  src/Cache/SimpleCacheEngine.php
  tests/TestCase/Cache/CacheTest.php
  tests/TestCase/Cache/SimpleCacheEngineTest.php
Labels: Enhancement, cache

#12554 Improve handling of CURRENT_TIMESTAMP default value
  lib/Cake/Model/Datasource/DboSource.php
  lib/Cake/Test/Case/Model/ModelReadTest.php
  lib/Cake/View/Helper/FormHelper.php
Labels: Defect, datasource

#12555 Add interface for I18n's date time classes.
  src/I18n/Date.php
  src/I18n/DateFormatTrait.php
  src/I18n/FrozenDate.php
  src/I18n/FrozenTime.php
  src/I18n/I18nDateTimeInterface.php
  src/I18n/RelativeTimeFormatter.php
  src/I18n/Time.php
Labels: i18n

#12541 Added a collection lazy() method
  src/Collection/CollectionInterface.php
  src/Collection/CollectionTrait.php
  tests/TestCase/Collection/CollectionTest.php
Labels: Enhancement, collection

#12543 Check for `is_numeric()` instead of `is_scalar()` on IntegerType
  src/Database/Type/IntegerType.php
  tests/TestCase/Database/ConnectionTest.php
  tests/TestCase/Database/QueryTest.php
  tests/TestCase/Database/Type/IntegerTypeTest.php
Labels: Defect, database

#12568 Warn if CsrfComponent is used together with CsrfProtectionMiddleware
  src/Controller/Component/CsrfComponent.php
Labels: component, deprecations

#12571 [RFC] Make RouteBuilder::redirect() return route instances
  src/Routing/Route/RedirectRoute.php
  src/Routing/RouteBuilder.php
  tests/TestCase/Routing/Route/RedirectRouteTest.php
  tests/TestCase/Routing/RouteBuilderTest.php
Labels: Enhancement, routing

#12565 3.next - Start using pool() internally in Cache
  phpcs.xml.dist
  src/Cache/Cache.php
  src/Cache/Engine/NullEngine.php
  tests/TestCase/Cache/CacheTest.php
  tests/TestCase/Database/SchemaCacheTest.php
  tests/TestCase/Shell/SchemaCacheShellTest.php
  tests/TestCase/View/CellTest.php
Labels: cache

#12575 Fix entity route incorrectly handling placeholders
  src/Routing/Route/EntityRoute.php
  tests/TestCase/Routing/Route/EntityRouteTest.php
Labels: routing

#12576 Add getter/setter for `Association::className()`.
  src/ORM/Association.php
  tests/TestCase/ORM/AssociationTest.php
Labels: Enhancement, ORM

#12580 Make reverse routes match `[_method => GET]` by default.
  src/Routing/Route/Route.php
  tests/TestCase/Routing/Route/RouteTest.php
  tests/TestCase/TestSuite/IntegrationTestTraitTest.php
Labels: Enhancement

#12552 Improved support for BINARY(n) and VARBINARY(n) columns
  src/Database/Schema/MysqlSchema.php
  src/Database/Schema/PostgresSchema.php
  src/Database/Schema/SqliteSchema.php
  src/Database/Schema/SqlserverSchema.php
  tests/TestCase/Database/Schema/MysqlSchemaTest.php
  tests/TestCase/Database/Schema/SqlserverSchemaTest.php
Labels: ORM

#12595 Small tidy up on MySQL binary column type generation
  src/Database/Schema/MysqlSchema.php
Labels: mysql

#12591 3.next - Cache interface
  src/Cache/Cache.php
  src/Cache/CacheEngineInterface.php
  src/Cache/SimpleCacheEngine.php
  tests/TestCase/Cache/SimpleCacheEngineTest.php
Labels: Enhancement, cache

#12597 Deprecate RequestHandler's wrapper methods.
  src/Controller/Component/RequestHandlerComponent.php
  tests/TestCase/Controller/Component/RequestHandlerComponentTest.php
Labels: deprecations

#12605 Fixed bug causing message-id to be regenerated
  src/Mailer/Email.php
  tests/TestCase/Mailer/EmailTest.php
Labels: Defect, mailer

#12611 Fix phpstan reported doc block and casting issues.
  src/Controller/Component/FlashComponent.php
  src/Database/Log/LoggingStatement.php
  src/Database/SchemaCache.php
  src/Datasource/QueryTrait.php
  src/Datasource/RepositoryInterface.php
  src/Event/EventDispatcherTrait.php
  src/Http/Client.php
  src/Http/ControllerFactory.php
  src/Http/Server.php
  src/Http/Session.php
  src/Http/Session/DatabaseSession.php
  src/I18n/DateFormatTrait.php
  src/ORM/ResultSet.php
  src/ORM/Table.php
  src/Shell/ServerShell.php
  src/TestSuite/MiddlewareDispatcher.php
  src/View/ViewVarsTrait.php
  src/View/Widget/DateTimeWidget.php
Labels: Defect

#12599 Return null instead of false when unable to load model.
  src/Controller/Controller.php
Labels: controller

#12612 Form/Form::getErrors - re-add old test
  tests/TestCase/Form/FormTest.php
Labels: deprecations

#12604 Fix incorrect class_exists('PHPUnit_Framework_Test')
  tests/phpunit_aliases.php
Labels: testing
