Repository cakephp/cakephp, pull requests merged in 2018-10, with the labels that each got.

#12609 4.x zend diactoros
  composer.json
  src/Http/CallbackStream.php
  src/Http/Client/Request.php
  src/Http/ServerRequest.php
  src/Http/ServerRequestFactory.php
  tests/TestCase/Http/Client/Adapter/CurlTest.php
Labels: http

#12620 Use assertSame() for strict empty string check
  tests/TestCase/Controller/Component/CookieComponentTest.php
Labels: testing

#12586 Fix silencing errors in extension handling.
  src/Controller/Component/RequestHandlerComponent.php
  src/Http/Response.php
  tests/TestCase/Controller/Component/RequestHandlerComponentTest.php
  tests/TestCase/Http/ResponseTest.php
Labels: Defect, http

#12619 In BelongsToMany, linking entities will set the junction table registry alias
  src/ORM/Association/BelongsToMany.php
  tests/TestCase/ORM/Association/BelongsToManyTest.php
Labels: ORM

#12625 Add SimpleCacheEngine::add()
  src/Cache/Cache.php
  src/Cache/CacheEngineInterface.php
  src/Cache/SimpleCacheEngine.php
  tests/TestCase/Cache/SimpleCacheEngineTest.php
Labels: cache, deprecations

#12622 Schema fixes
  src/Database/Schema/SqlserverSchema.php
  tests/TestCase/Database/Schema/SqlserverSchemaTest.php
Labels: sqlserver

#12638 Do not change session handler if session is active
  src/Http/Session.php
Labels: http

#12635 4.x - Remove Deprecated ORM/Database Code
  src/Database/Expression/OrderByExpression.php
  src/ORM/TableRegistry.php
  tests/TestCase/Database/QueryTest.php
  tests/TestCase/Mailer/EmailTest.php
  tests/TestCase/ORM/TableRegistryTest.php
Labels: deprecations

#12659 Don't break UNC file paths
  src/Console/ConsoleIo.php
Labels: console

#12653 limiting the regex to consume only words in default value in pgsql
  lib/Cake/Model/Datasource/Database/Postgres.php
  lib/Cake/Test/Case/Model/Datasource/Database/PostgresTest.php
Labels: database, postgres

#12673 Include previous exception in log message if present
  src/Error/Middleware/ErrorHandlerMiddleware.php
  tests/TestCase/Error/Middleware/ErrorHandlerMiddlewareTest.php
Labels: Enhancement, errorhandler, exception, log

#12675 Fix MoParser if a message exist with and without context
  src/I18n/Parser/MoFileParser.php
  tests/TestCase/I18n/Parser/MoFileParserTest.php
Labels: i18n

#12674 4.x - Cache cleanup
  src/Cache/CacheEngine.php
  src/Cache/Engine/FileEngine.php
  src/Cache/Engine/MemcachedEngine.php
  src/Cache/Engine/NullEngine.php
  src/I18n/TranslatorRegistry.php
  tests/TestCase/Cache/CacheTest.php
  tests/TestCase/Cache/Engine/FileEngineTest.php
  tests/TestCase/Cache/Engine/MemcachedEngineTest.php
Labels: cache

#12688 Refactored ConsoleIntegrationTestTrait private vars into protected
  src/TestSuite/ConsoleIntegrationTestTrait.php
Labels: console, testing

#12687 3.next - Plugin unload
  src/Core/Plugin.php
  src/Core/PluginCollection.php
  tests/TestCase/Auth/FormAuthenticateTest.php
  tests/TestCase/Auth/PasswordHasherFactoryTest.php
  tests/TestCase/Cache/CacheTest.php
  tests/TestCase/Command/HelpCommandTest.php
  tests/TestCase/Console/CommandCollectionTest.php
  tests/TestCase/Console/HelperRegistryTest.php
  tests/TestCase/Console/ShellDispatcherTest.php
  tests/TestCase/Console/ShellTest.php
  tests/TestCase/Console/TaskRegistryTest.php
  tests/TestCase/Controller/ComponentRegistryTest.php
  tests/TestCase/Controller/ControllerTest.php
  tests/TestCase/Core/AppTest.php
  tests/TestCase/Core/BasePluginTest.php
  tests/TestCase/Core/Configure/Engine/IniConfigTest.php
  tests/TestCase/Core/Configure/Engine/JsonConfigTest.php
  tests/TestCase/Core/Configure/Engine/PhpConfigTest.php
  tests/TestCase/Core/ConfigureTest.php
  tests/TestCase/Core/PluginTest.php
  tests/TestCase/Datasource/ConnectionManagerTest.php
  tests/TestCase/Error/ErrorHandlerTest.php
  tests/TestCase/Error/ExceptionRendererTest.php
  tests/TestCase/Http/BaseApplicationTest.php
  tests/TestCase/Http/SessionTest.php
  tests/TestCase/I18n/I18nTest.php
  tests/TestCase/Log/LogTest.php
  tests/TestCase/Mailer/EmailTest.php
  tests/TestCase/ORM/AssociationTest.php
  tests/TestCase/ORM/BehaviorRegistryTest.php
  tests/TestCase/ORM/Locator/TableLocatorTest.php
  tests/TestCase/ORM/QueryRegressionTest.php
  tests/TestCase/ORM/ResultSetTest.php
  tests/TestCase/ORM/TableTest.php
  tests/TestCase/Routing/DispatcherTest.php
  tests/TestCase/Routing/Filter/AssetFilterTest.php
  tests/TestCase/Routing/Middleware/AssetMiddlewareTest.php
  tests/TestCase/Routing/RequestActionTraitTest.php
  tests/TestCase/Routing/RouteBuilderTest.php
  tests/TestCase/Routing/RouterTest.php
  tests/TestCase/Shell/CommandListShellTest.php
  tests/TestCase/Shell/CompletionShellTest.php
  tests/TestCase/Shell/Task/AssetsTaskTest.php
  tests/TestCase/Shell/Task/ExtractTaskTest.php
  tests/TestCase/Shell/Task/UnloadTaskTest.php
  tests/TestCase/TestSuite/FixtureManagerTest.php
  tests/TestCase/TestSuite/IntegrationTestTraitTest.php
  tests/TestCase/TestSuite/TestCaseTest.php
  tests/TestCase/View/CellTest.php
  tests/TestCase/View/Helper/FlashHelperTest.php
  tests/TestCase/View/Helper/HtmlHelperTest.php
  tests/TestCase/View/Helper/NumberHelperTest.php
  tests/TestCase/View/Helper/TextHelperTest.php
  tests/TestCase/View/Helper/UrlHelperTest.php
  tests/TestCase/View/HelperRegistryTest.php
  tests/TestCase/View/HelperTest.php
  tests/TestCase/View/StringTemplateTest.php
  tests/TestCase/View/ViewTest.php
  tests/TestCase/View/Widget/WidgetLocatorTest.php
Labels: deprecations, plugins

#12691 3.next - Allow Plugin::getCollection() to be used
  src/Core/Plugin.php
Labels: plugins

#12664 Replace Magic Literals in SecurityHeadersMiddleware with Class Constants
  src/Http/Middleware/SecurityHeadersMiddleware.php
Labels: Enhancement, http, security
