Repository cakephp/cakephp, pull requests merged in 2018-04, with the labels that each got.

#11879 Don't display duplicate route errors when a route class is missing.
  src/Http/BaseApplication.php
  tests/TestCase/Http/BaseApplicationTest.php
  tests/test_app/invalid_routes/routes.php
Labels: http

#11890 Throw deprecation warning only for properties declared in Event class.
  src/Event/Event.php
Labels: deprecations, events

#11873 Paginator sort links should go to page 1 when changing order
  src/View/Helper/PaginatorHelper.php
  tests/TestCase/View/Helper/PaginatorHelperTest.php
Labels: Enhancement, pagination

#11897 Don't mutate ExistsIn fields.
  src/ORM/Rule/ExistsIn.php
  tests/TestCase/ORM/RulesCheckerIntegrationTest.php
Labels: ORM

#11899 Fix toDatabase() to work with non-DateTimeImmutable properly
  src/Database/Type/DateTimeType.php
  tests/TestCase/Database/Type/DateTimeTypeTest.php
Labels: Enhancement, database

#11901 Allow configuring grouped input types.
  src/View/Helper/FormHelper.php
  tests/TestCase/View/Helper/FormHelperTest.php
Labels: Enhancement

#11903 Adding whereNotNull() and whereNull() to the Query object
  src/Database/Query.php
  tests/TestCase/Database/QueryTest.php
Labels: Enhancement, ORM, datasource

#11919 Fix Column default value is "NULL::character varying" insted of "null" for Postgres
  src/Database/Schema/PostgresSchema.php
  tests/TestCase/Database/Schema/PostgresSchemaTest.php
Labels: database, postgres

#11886 Fetch methods 11795
  src/Database/Statement/BufferedStatement.php
  src/Database/Statement/CallbackStatement.php
  src/Database/Statement/PDOStatement.php
  src/Database/Statement/StatementDecorator.php
  tests/TestCase/Database/QueryTest.php
Labels: Enhancement, database

#11926 Add deprecation warning for non-absolute file paths.
  src/Http/Response.php
  tests/TestCase/Http/ResponseTest.php
Labels: deprecations, http

#11923 Implemented multiple lines for all stages in parsing a po file
  src/I18n/Parser/PoFileParser.php
  tests/TestCase/I18n/Parser/PoFileParserTest.php
  tests/test_app/TestApp/Locale/rule_1_po/default.po
Labels: i18n

#11927 Deprecate serving files by relative paths.
  src/Http/Response.php
Labels: deprecations, http

#11930 Don't set session cookie name to CAKEPHP by default.
  src/Http/Session.php
Labels: http

#11929 Change default return value of ServerRequest::getParam() to false.
  src/Http/ServerRequest.php
  tests/TestCase/Http/ServerRequestTest.php
Labels: http

#11933 4.x remove old classes for phpunit < 6
  appveyor.yml
  src/TestSuite/Constraint/EventFired.php
  src/TestSuite/Constraint/EventFiredWith.php
  src/TestSuite/Fixture/FixtureInjector.php
  src/TestSuite/Fixture/FixtureManager.php
  src/TestSuite/TestSuite.php
  src/basics.php
  tests/bootstrap.php
  tests/phpunit_aliases.php
Labels: testing

#11946 fix Controller 3.6 deprecated message from class attribute to method
  src/Controller/Controller.php
Labels: deprecations

#11981 [4.x] Removing deprecated methods from I18n
  src/I18n/DateFormatTrait.php
  src/I18n/I18n.php
  tests/TestCase/View/Helper/TimeHelperTest.php
Labels: deprecations, i18n

#11985 Only emit deprecation warnings if validator() has been implemented.
  src/Form/Form.php
Labels: deprecations

#11987 [4.x] Utility deprecations
  src/Utility/Crypto/Mcrypt.php
  src/Utility/Inflector.php
  src/Utility/Security.php
  src/Utility/String.php
  src/Utility/Text.php
  src/View/Helper/TextHelper.php
  tests/TestCase/Utility/InflectorTest.php
  tests/TestCase/Utility/SecurityTest.php
  tests/TestCase/Utility/TextTest.php
Labels: deprecations

#11984 [4.x] Validation deprecations
  src/Form/Form.php
  src/Validation/Validation.php
  src/Validation/Validator.php
  src/Validation/ValidatorAwareTrait.php
  tests/TestCase/Form/FormTest.php
  tests/TestCase/Validation/ValidationTest.php
Labels: deprecations

#11990 Update the range of isOk as discussed in #11796
  src/Http/Client/Response.php
  tests/TestCase/Http/Client/ResponseTest.php
Labels: http

#11992 Add warnings that were missed before.
  src/Mailer/Email.php
  src/View/ViewBuilder.php
  src/View/ViewVarsTrait.php
  tests/TestCase/Controller/Component/RequestHandlerComponentTest.php
  tests/TestCase/Controller/ControllerTest.php
  tests/TestCase/Error/ExceptionRendererTest.php
  tests/TestCase/Mailer/EmailTest.php
  tests/TestCase/Mailer/MailerTest.php
  tests/TestCase/Mailer/Transport/SmtpTransportTest.php
  tests/TestCase/View/ViewBuilderTest.php
  tests/test_app/TestApp/Error/TestAppsExceptionRenderer.php
  tests/test_app/TestApp/Mailer/TestMailer.php
  tests/test_app/TestApp/View/Cell/ArticlesCell.php
Labels: deprecations, mailer

#12003 Fix usage of 'escape' => false.
  src/View/Helper/HtmlHelper.php
  tests/TestCase/View/Helper/HtmlHelperTest.php
Labels: Defect

#11994 Allow only classname strings for type map.
  src/Database/Type.php
  tests/TestCase/Database/TypeTest.php
Labels: database

#11986 [4.x] Removing deprecated event code
  src/Console/CommandRunner.php
  src/Event/Event.php
  src/Event/EventDispatcherInterface.php
  src/Event/EventDispatcherTrait.php
  src/Event/EventInterface.php
  src/Event/EventManager.php
  src/Event/EventManagerTrait.php
  src/Http/Server.php
  tests/TestCase/Console/CommandRunnerTest.php
  tests/TestCase/Controller/ComponentRegistryTest.php
  tests/TestCase/Event/Decorator/ConditionDecoratorTest.php
  tests/TestCase/Event/EventDispatcherTraitTest.php
  tests/TestCase/Event/EventManagerTest.php
  tests/TestCase/Http/ServerTest.php
  tests/TestCase/View/HelperTest.php
  tests/test_app/TestApp/Auth/TestAuthenticate.php
  tests/test_app/TestApp/Routing/Filter/AppendFilter.php
Labels: deprecations

#12004 Removed deprecated classes in Network package.
  src/Network/CorsBuilder.php
  src/Network/Exception/BadRequestException.php
  src/Network/Exception/ConflictException.php
  src/Network/Exception/ForbiddenException.php
  src/Network/Exception/GoneException.php
  src/Network/Exception/HttpException.php
  src/Network/Exception/InternalErrorException.php
  src/Network/Exception/InvalidCsrfTokenException.php
  src/Network/Exception/MethodNotAllowedException.php
  src/Network/Exception/NotAcceptableException.php
  src/Network/Exception/NotFoundException.php
  src/Network/Exception/NotImplementedException.php
  src/Network/Exception/ServiceUnavailableException.php
  src/Network/Exception/UnauthorizedException.php
  src/Network/Exception/UnavailableForLegalReasonsException.php
  src/Network/Request.php
  src/Network/Response.php
  src/Network/Session.php
  src/Network/Session/CacheSession.php
  src/Network/Session/DatabaseSession.php
  tests/TestCase/Filesystem/FolderTest.php
  tests/TestCase/Http/ResponseTest.php
Labels: deprecations

#12006 Backport changes done to Type class in 4.x.
  src/Database/Schema/TableSchema.php
  src/Database/Type.php
  tests/TestCase/Database/ExpressionTypeCastingTest.php
  tests/TestCase/Database/Schema/TableSchemaTest.php
  tests/TestCase/Database/TypeTest.php
Labels: Enhancement, deprecations

#12016 4.x db typefactory
  src/Database/FieldTypeConverter.php
  src/Database/Schema/MysqlSchema.php
  src/Database/Schema/PostgresSchema.php
  src/Database/Schema/SqliteSchema.php
  src/Database/Schema/SqlserverSchema.php
  src/Database/Schema/TableSchema.php
  src/Database/Type.php
  src/Database/Type/ExpressionTypeCasterTrait.php
  src/Database/TypeConverterTrait.php
  src/Database/TypeFactory.php
  src/ORM/Behavior/TimestampBehavior.php
  src/ORM/Marshaller.php
  src/ORM/ResultSet.php
  src/ORM/Table.php
  tests/TestCase/Database/ExpressionTypeCastingIntegrationTest.php
  tests/TestCase/Database/ExpressionTypeCastingTest.php
  tests/TestCase/Database/Schema/TableSchemaTest.php
  tests/TestCase/Database/Type/BinaryTypeTest.php
  tests/TestCase/Database/Type/BinaryUuidTypeTest.php
  tests/TestCase/Database/Type/BoolTypeTest.php
  tests/TestCase/Database/Type/DecimalTypeTest.php
  tests/TestCase/Database/Type/FloatTypeTest.php
  tests/TestCase/Database/Type/IntegerTypeTest.php
  tests/TestCase/Database/Type/JsonTypeTest.php
  tests/TestCase/Database/Type/StringTypeTest.php
  tests/TestCase/Database/Type/UuidTypeTest.php
  tests/TestCase/Database/TypeFactoryTest.php
  tests/TestCase/ORM/Behavior/TimestampBehaviorTest.php
  tests/test_app/TestApp/Database/Type/BarType.php
  tests/test_app/TestApp/Database/Type/FooType.php
Labels: database

#12019 [minor] Static Code Analysis
  src/Core/PluginCollection.php
  src/Core/functions.php
  src/Database/Driver/PDODriverTrait.php
  src/Database/Schema/SqlserverSchema.php
  src/Database/Statement/StatementDecorator.php
  src/Datasource/EntityTrait.php
  src/Filesystem/Folder.php
  src/Http/Client/Auth/Oauth.php
  src/Http/Response.php
  src/Mailer/Transport/SmtpTransport.php
  src/ORM/Association/HasMany.php
  src/ORM/Behavior/TreeBehavior.php
  src/Routing/Route/Route.php
  src/Shell/CommandListShell.php
  src/TestSuite/Fixture/FixtureManager.php
  src/Utility/Inflector.php
  src/Utility/Text.php
  src/Validation/Validation.php
  src/View/Helper/FormHelper.php
  src/View/StringTemplate.php
Labels: optimization

#12020 Remove usage of prefix increment operator.
  src/Core/PluginCollection.php
  src/Filesystem/Folder.php
  src/Utility/Text.php
  src/View/Helper/HtmlHelper.php
Labels: optimization

#11952 Fixed request and response deprecations
  src/Controller/Component/AuthComponent.php
  src/Controller/Component/CookieComponent.php
  src/Controller/Component/CsrfComponent.php
  src/Controller/Component/FlashComponent.php
  src/Controller/Component/PaginatorComponent.php
  src/Controller/Component/RequestHandlerComponent.php
  src/Controller/Component/SecurityComponent.php
  src/Controller/Controller.php
  src/Core/Retry/CommandRetry.php
  src/Database/Driver/Mysql.php
  src/Database/Driver/Postgres.php
  src/Database/Driver/Sqlite.php
  src/Database/Exception/MissingConnectionException.php
  src/Database/Exception/MissingDriverException.php
  src/Database/Exception/MissingExtensionException.php
  src/Database/Exception/NestedTransactionRollbackException.php
  src/Database/Query.php
  src/Database/Type/DateType.php
  src/Database/TypeMapTrait.php
  src/Datasource/FactoryLocator.php
  src/Error/ExceptionRenderer.php
  src/Error/ExceptionRendererInterface.php
  src/Event/Event.php
  src/Event/EventManagerInterface.php
  src/Http/ActionDispatcher.php
  src/Http/ControllerFactory.php
  src/Http/ServerRequest.php
  src/I18n/Formatter/IcuFormatter.php
  src/I18n/I18n.php
  src/I18n/functions.php
  src/ORM/Association/Loader/SelectLoader.php
  src/ORM/AssociationCollection.php
  src/ORM/Behavior.php
  src/ORM/Behavior/TimestampBehavior.php
  src/ORM/Table.php
  src/Routing/Filter/ControllerFactoryFilter.php
  src/Routing/Router.php
  src/Shell/CompletionShell.php
  src/Shell/Task/CommandTask.php
  src/TestSuite/IntegrationTestCase.php
  src/Validation/RulesProvider.php
  src/Validation/Validator.php
  src/View/Helper/BreadcrumbsHelper.php
  src/View/Widget/WidgetLocator.php
  tests/TestCase/Mailer/EmailTest.php
Labels: deprecations

#12021 4.x type cleanup
  src/Database/Type/BaseType.php
  src/Database/Type/DateTimeType.php
  src/Database/Type/DateType.php
  tests/TestCase/Database/QueryTest.php
  tests/TestCase/Database/Type/DateTimeTypeTest.php
  tests/TestCase/Database/Type/DateTypeTest.php
  tests/TestCase/Database/Type/TimeTypeTest.php
  tests/TestCase/ORM/Behavior/TimestampBehaviorTest.php
  tests/TestCase/ORM/MarshallerTest.php
  tests/TestCase/ORM/QueryRegressionTest.php
  tests/TestCase/ORM/QueryTest.php
Labels: database

#11991 [4.x] View deprecations
  src/Controller/Controller.php
  src/View/Cell.php
  src/View/Helper/FormHelper.php
  src/View/Helper/HtmlHelper.php
  src/View/Helper/RssHelper.php
  src/View/Helper/SessionHelper.php
  src/View/Helper/TimeHelper.php
  src/View/StringTemplateTrait.php
  src/View/View.php
  src/View/ViewBuilder.php
  src/View/ViewVarsTrait.php
  src/View/Widget/WidgetRegistry.php
  tests/TestCase/Controller/ControllerTest.php
  tests/TestCase/Error/DebuggerTest.php
  tests/TestCase/Mailer/EmailTest.php
  tests/TestCase/View/Helper/FormHelperTest.php
  tests/TestCase/View/Helper/HtmlHelperTest.php
  tests/TestCase/View/Helper/RssHelperTest.php
  tests/TestCase/View/ViewBuilderTest.php
  tests/TestCase/View/ViewTest.php
  tests/TestCase/View/ViewVarsTraitTest.php
  tests/test_app/TestApp/Controller/RequestHandlerTestController.php
Labels: deprecations, view
