Repository cakephp/cakephp, pull requests merged in 2021-08, with the labels that each got.

#15728 Remove unnecessary array merge.
  src/Http/Client.php
Labels: cleanup

#15725 cake 5: Add native type hints for Collection
  src/Collection/CollectionInterface.php
  src/Collection/CollectionTrait.php
  src/Collection/ExtractTrait.php
  src/Collection/Iterator/BufferedIterator.php
  src/Collection/Iterator/ExtractIterator.php
  src/Collection/Iterator/FilterIterator.php
  src/Collection/Iterator/InsertIterator.php
  src/Collection/Iterator/MapReduce.php
  src/Collection/Iterator/NestIterator.php
  src/Collection/Iterator/ReplaceIterator.php
  src/Collection/Iterator/SortIterator.php
  src/Collection/Iterator/TreeIterator.php
  src/Collection/Iterator/TreePrinter.php
  src/ORM/ResultSet.php
Labels: enhancement, php

#15729 cake 5: Add native type hints for Datasource
  src/Database/Connection.php
  src/Database/Query.php
  src/Datasource/ConnectionInterface.php
  src/Datasource/ConnectionManager.php
  src/Datasource/EntityInterface.php
  src/Datasource/EntityTrait.php
  src/Datasource/FactoryLocator.php
  src/Datasource/InvalidPropertyInterface.php
  src/Datasource/Locator/AbstractLocator.php
  src/Datasource/Locator/LocatorInterface.php
  src/Datasource/ModelAwareTrait.php
  src/Datasource/QueryCacher.php
  src/Datasource/QueryInterface.php
  src/Datasource/QueryTrait.php
  src/Datasource/RepositoryInterface.php
  src/Datasource/RulesAwareTrait.php
  src/Datasource/RulesChecker.php
  src/Datasource/SchemaInterface.php
  src/ORM/Association/BelongsToMany.php
  src/ORM/Behavior/TreeBehavior.php
  src/ORM/Locator/TableLocator.php
  src/ORM/Marshaller.php
  src/ORM/Query.php
  src/ORM/Table.php
  src/TestSuite/Fixture/TestFixture.php
  tests/Fixture/OtherArticlesFixture.php
  tests/TestCase/Datasource/FactoryLocatorTest.php
  tests/TestCase/Datasource/ModelAwareTraitTest.php
  tests/TestCase/ORM/EntityTest.php
  tests/TestCase/TestSuite/TestCaseTest.php
Labels: enhancement, php

#15738 Fix type specified for FunctionExpression not being respected.
  src/ORM/Query.php
  tests/TestCase/ORM/QueryRegressionTest.php
Labels: defect, ORM

#15748 cake 5: Add native type hints for ORM
  src/ORM/Association.php
  src/ORM/Association/BelongsTo.php
  src/ORM/Association/BelongsToMany.php
  src/ORM/Association/HasMany.php
  src/ORM/Association/HasOne.php
  src/ORM/Association/Loader/SelectLoader.php
  src/ORM/Association/Loader/SelectWithPivotLoader.php
  src/ORM/AssociationCollection.php
  src/ORM/AssociationsNormalizerTrait.php
  src/ORM/Behavior/CounterCacheBehavior.php
  src/ORM/Behavior/Translate/EavStrategy.php
  src/ORM/Behavior/Translate/ShadowTableStrategy.php
  src/ORM/Behavior/Translate/TranslateStrategyInterface.php
  src/ORM/Behavior/Translate/TranslateStrategyTrait.php
  src/ORM/Behavior/TranslateBehavior.php
  src/ORM/Behavior/TreeBehavior.php
  src/ORM/BehaviorRegistry.php
  src/ORM/EagerLoadable.php
  src/ORM/EagerLoader.php
  src/ORM/Exception/PersistenceFailedException.php
  src/ORM/LazyEagerLoader.php
  src/ORM/Locator/LocatorInterface.php
  src/ORM/Locator/TableLocator.php
  src/ORM/Marshaller.php
  src/ORM/Query.php
  src/ORM/ResultSet.php
  src/ORM/Rule/ExistsIn.php
  src/ORM/Rule/LinkConstraint.php
  src/ORM/RulesChecker.php
  src/ORM/SaveOptionsBuilder.php
  src/ORM/Table.php
  tests/TestCase/Error/DebuggerTest.php
  tests/TestCase/ORM/AssociationCollectionTest.php
  tests/TestCase/ORM/AssociationProxyTest.php
  tests/TestCase/ORM/QueryTest.php
  tests/TestCase/ORM/Rule/LinkConstraintTest.php
  tests/TestCase/ORM/RulesCheckerIntegrationTest.php
  tests/TestCase/ORM/TableTest.php
Labels: enhancement, php

#15757 cake 5: Add native type hints for Network
  src/Network/Socket.php
Labels: enhancement, php

#15758 cake 5: Add native type hints for I18n
  psalm-baseline.xml
  src/I18n/Date.php
  src/I18n/DateFormatTrait.php
  src/I18n/FrozenDate.php
  src/I18n/FrozenTime.php
  src/I18n/I18nDateTimeInterface.php
  src/I18n/MessagesFileLoader.php
  src/I18n/Number.php
  src/I18n/Package.php
  src/I18n/PackageLocator.php
  src/I18n/Parser/MoFileParser.php
  src/I18n/PluralRules.php
  src/I18n/RelativeTimeFormatter.php
  src/I18n/Time.php
  src/I18n/Translator.php
  src/I18n/functions.php
  src/View/Helper/PaginatorHelper.php
Labels: enhancement, php

#15760 cake 5: Add native type hints for basics
  src/basics.php
Labels: enhancement, php

#15759 cake 5: Add native type hints for View
  phpstan-baseline.neon
  src/View/Exception/MissingTemplateException.php
  src/View/Form/ArrayContext.php
  src/View/Form/ContextFactory.php
  src/View/Form/ContextInterface.php
  src/View/Form/EntityContext.php
  src/View/Form/FormContext.php
  src/View/Form/NullContext.php
  src/View/Helper.php
  src/View/Helper/BreadcrumbsHelper.php
  src/View/Helper/FormHelper.php
  src/View/Helper/HtmlHelper.php
  src/View/Helper/NumberHelper.php
  src/View/Helper/PaginatorHelper.php
  src/View/Helper/TextHelper.php
  src/View/Helper/TimeHelper.php
  src/View/Helper/UrlHelper.php
  src/View/JsonView.php
  src/View/SerializedView.php
  src/View/StringTemplate.php
  src/View/StringTemplateTrait.php
  src/View/View.php
  src/View/ViewBlock.php
  src/View/ViewBuilder.php
  src/View/ViewVarsTrait.php
  src/View/Widget/DateTimeWidget.php
  src/View/Widget/MultiCheckboxWidget.php
  src/View/Widget/RadioWidget.php
  src/View/Widget/SelectBoxWidget.php
  src/View/Widget/WidgetLocator.php
  tests/TestCase/View/Helper/FormHelperTest.php
  tests/TestCase/View/Helper/TimeHelperTest.php
  tests/TestCase/View/Widget/DateTimeWidgetTest.php
Labels: enhancement, php

#15764 cake 5: Add native type hints for Routing
  src/Routing/Asset.php
  src/Routing/Exception/DuplicateNamedRouteException.php
  src/Routing/Exception/MissingRouteException.php
  src/Routing/Route/EntityRoute.php
  src/Routing/Route/Route.php
  src/Routing/RouteBuilder.php
  src/Routing/RouteCollection.php
  src/Routing/Router.php
  tests/TestCase/Routing/RouteBuilderTest.php
  tests/TestCase/Routing/RouterTest.php
Labels: enhancement, php

#15765 Allow json_encode options in JsonType
  src/Database/Type/JsonType.php
  tests/TestCase/Database/Type/JsonTypeTest.php
Labels: database

#15766 cake 5: Add native type hints for Log
  src/Database/Log/QueryLogger.php
  src/Log/Engine/ArrayLog.php
  src/Log/Engine/ConsoleLog.php
  src/Log/Formatter/AbstractFormatter.php
  src/Log/Log.php
  src/Log/LogTrait.php
  tests/TestCase/Log/LogTest.php
  tests/test_app/Plugin/TestPlugin/src/Log/Engine/TestPluginLog.php
Labels: enhancement, php

#15768 cake 5: Add native type hints for TestSuite
  src/TestSuite/ConsoleIntegrationTestTrait.php
  src/TestSuite/Constraint/Console/ContentsContain.php
  src/TestSuite/Constraint/Console/ContentsContainRow.php
  src/TestSuite/Constraint/Console/ContentsEmpty.php
  src/TestSuite/Constraint/Console/ContentsNotContain.php
  src/TestSuite/Constraint/Console/ContentsRegExp.php
  src/TestSuite/Constraint/Console/ExitCode.php
  src/TestSuite/Constraint/Email/MailConstraintBase.php
  src/TestSuite/Constraint/Email/MailContains.php
  src/TestSuite/Constraint/Email/MailContainsAttachment.php
  src/TestSuite/Constraint/Email/MailCount.php
  src/TestSuite/Constraint/Email/MailSentWith.php
  src/TestSuite/Constraint/Email/MailSubjectContains.php
  src/TestSuite/Constraint/Email/NoMailSent.php
  src/TestSuite/Constraint/EventFired.php
  src/TestSuite/Constraint/EventFiredWith.php
  src/TestSuite/Constraint/Response/BodyEmpty.php
  src/TestSuite/Constraint/Response/BodyRegExp.php
  src/TestSuite/Constraint/Response/FileSent.php
  src/TestSuite/Constraint/Response/HeaderSet.php
  src/TestSuite/Constraint/Response/StatusCode.php
  src/TestSuite/Constraint/Response/StatusCodeBase.php
  src/TestSuite/Constraint/Session/FlashParamEquals.php
  src/TestSuite/Constraint/Session/SessionEquals.php
  src/TestSuite/Constraint/Session/SessionHasKey.php
  src/TestSuite/Constraint/View/TemplateFileEquals.php
  src/TestSuite/ContainerStubTrait.php
  src/TestSuite/Fixture/SchemaCleaner.php
  src/TestSuite/Fixture/SchemaGenerator.php
  src/TestSuite/Fixture/SchemaManager.php
  src/TestSuite/IntegrationTestTrait.php
  src/TestSuite/MiddlewareDispatcher.php
  src/TestSuite/Stub/ConsoleInput.php
  src/TestSuite/Stub/ConsoleOutput.php
  src/TestSuite/Stub/MissingConsoleInputException.php
  src/TestSuite/TestCase.php
  src/TestSuite/TestConnectionManager.php
  src/TestSuite/TestEmailTransport.php
  src/TestSuite/TestSession.php
Labels: enhancement, php

#15779 Use instanceof Stringable check instead of method_exists().
  src/Core/functions.php
  src/Database/Log/LoggedQuery.php
  src/Database/Query.php
  src/Database/Type/DecimalType.php
  src/Database/Type/StringType.php
  src/Datasource/EntityInterface.php
  src/Http/Client/FormData.php
  src/Http/Client/FormDataPart.php
  src/Http/Response.php
  src/I18n/Date.php
  src/I18n/DateTime.php
  src/Log/Engine/BaseLog.php
  src/View/Cell.php
Labels: php

#15788 Clean up resetting default locale in tests
  tests/TestCase/Database/Type/DecimalTypeTest.php
  tests/TestCase/Database/Type/FloatTypeTest.php
  tests/TestCase/Database/Type/TimeTypeTest.php
  tests/TestCase/I18n/DateTest.php
  tests/TestCase/I18n/I18nTest.php
  tests/TestCase/I18n/NumberTest.php
  tests/TestCase/I18n/Parser/PoFileParserTest.php
  tests/TestCase/I18n/TimeTest.php
  tests/TestCase/Utility/HashTest.php
  tests/TestCase/Validation/ValidationTest.php
  tests/TestCase/View/Helper/PaginatorHelperTest.php
  tests/TestCase/View/Helper/TimeHelperTest.php
Labels: i18n, testing

#15787 Remove use of deprecated autoFixtures setting
  src/TestSuite/Fixture/FixtureDataManager.php
  src/TestSuite/Fixture/FixtureManager.php
  tests/TestCase/Controller/Component/PaginatorComponentTest.php
  tests/TestCase/Database/QueryTest.php
  tests/TestCase/Database/QueryTests/AggregatesQueryTests.php
  tests/TestCase/Database/QueryTests/CommonTableExpressionQueryTests.php
  tests/TestCase/Database/QueryTests/WindowQueryTests.php
  tests/TestCase/Datasource/PaginatorTest.php
  tests/TestCase/Datasource/PaginatorTestTrait.php
  tests/TestCase/Datasource/SimplePaginatorTest.php
  tests/TestCase/ORM/Behavior/TimestampBehaviorTest.php
  tests/TestCase/ORM/ColumnSchemaAwareTypeIntegrationTest.php
  tests/TestCase/ORM/QueryRegressionTest.php
  tests/TestCase/ORM/Rule/LinkConstraintTest.php
  tests/TestCase/View/Helper/FormHelperTest.php
Labels: fixtures

#15786 cake 5: Add native property type hints for Datasource
  src/Datasource/ConnectionManager.php
  src/Datasource/EntityTrait.php
  src/Datasource/FactoryLocator.php
  src/Datasource/Locator/AbstractLocator.php
  src/Datasource/ModelAwareTrait.php
  src/Datasource/Paginator.php
  src/Datasource/QueryCacher.php
  src/Datasource/QueryTrait.php
  src/Datasource/RuleInvoker.php
  src/Datasource/RulesAwareTrait.php
  src/Datasource/RulesChecker.php
  src/ORM/Locator/TableLocator.php
  src/ORM/Query.php
  tests/test_app/TestApp/Command/AutoLoadModelCommand.php
  tests/test_app/TestApp/Controller/ArticlesController.php
  tests/test_app/TestApp/Controller/CakesController.php
  tests/test_app/TestApp/Controller/ControllerTestAppController.php
  tests/test_app/TestApp/Controller/RequestActionController.php
  tests/test_app/TestApp/Controller/TestController.php
  tests/test_app/TestApp/Model/Entity/OpenArticleEntity.php
  tests/test_app/TestApp/Model/Entity/OpenTag.php
  tests/test_app/TestApp/Model/Entity/ProtectedArticle.php
  tests/test_app/TestApp/Model/Entity/ProtectedEntity.php
  tests/test_app/TestApp/Model/Entity/Session.php
  tests/test_app/TestApp/Model/Entity/TranslateBakedArticle.php
  tests/test_app/TestApp/Model/Entity/VirtualUser.php
Labels: enhancement, php

#15784 Deprecate methods of Router for connecting routes.
  psalm-baseline.xml
  src/Routing/Router.php
  tests/TestCase/Command/RoutesCommandTest.php
  tests/TestCase/Controller/Component/AuthComponentTest.php
  tests/TestCase/Controller/Component/RequestHandlerComponentTest.php
  tests/TestCase/Routing/AssetTest.php
  tests/TestCase/Routing/Middleware/RoutingMiddlewareTest.php
  tests/TestCase/Routing/Route/RedirectRouteTest.php
  tests/TestCase/Routing/RouteBuilderTest.php
  tests/TestCase/Routing/RouterTest.php
  tests/TestCase/TestSuite/IntegrationTestTraitTest.php
  tests/TestCase/View/Helper/BreadcrumbsHelperTest.php
  tests/TestCase/View/Helper/FormHelperTest.php
  tests/TestCase/View/Helper/HtmlHelperTest.php
  tests/TestCase/View/Helper/PaginatorHelperTest.php
  tests/TestCase/View/Helper/UrlHelperTest.php
  tests/test_app/config/routes.php
Labels: routing

#15794 Move TestApp fixtures into correct namespace
  composer.json
  tests/TestCase/TestSuite/TestFixtureTest.php
  tests/test_app/TestApp/tests/Fixture/ArticlesFixture.php
  tests/test_app/TestApp/tests/Fixture/ImportsFixture.php
  tests/test_app/TestApp/tests/Fixture/LettersFixture.php
  tests/test_app/TestApp/tests/Fixture/StringsTestsFixture.php
Labels: testing

#15793 Switch ConnectionManager::alias() parameter names
  src/Datasource/ConnectionManager.php
Labels: datasource, cleanup

#15781 cake 5: Re-organize fixtures into strategies
  phpstan-baseline.neon
  psalm-baseline.xml
  src/Database/ConstraintsInterface.php
  src/Database/Statement/StatementDecorator.php
  src/TestSuite/Fixture/CollectionResetStrategy.php
  src/TestSuite/Fixture/FixtureDataManager.php
  src/TestSuite/Fixture/FixtureHelper.php
  src/TestSuite/Fixture/FixtureLoader.php
  src/TestSuite/Fixture/FixtureStrategyInterface.php
  src/TestSuite/Fixture/PHPUnitExtension.php
  src/TestSuite/Fixture/TransactionFixtureStrategy.php
  src/TestSuite/Fixture/TransactionResetStrategy.php
  src/TestSuite/Fixture/TruncateFixtureStrategy.php
  src/TestSuite/Fixture/TruncationResetStrategy.php
  src/TestSuite/TestCase.php
  tests/TestCase/Database/QueryTest.php
  tests/TestCase/Http/SessionTest.php
  tests/TestCase/ORM/RulesCheckerIntegrationTest.php
  tests/TestCase/TestSuite/Fixture/CollectionResetStrategyTest.php
  tests/TestCase/TestSuite/Fixture/FixtureDataManagerTest.php
  tests/TestCase/TestSuite/Fixture/FixtureHelperTest.php
  tests/TestCase/TestSuite/Fixture/TransactionFixtureStrategyTest.php
  tests/TestCase/TestSuite/Fixture/TransactionResetStrategyTest.php
  tests/TestCase/TestSuite/Fixture/TruncateFixtureStrategyTest.php
  tests/TestCase/TestSuite/Fixture/TruncationResetStrategyTest.php
  tests/TestCase/TestSuite/TestCaseTest.php
Labels: RFC, fixtures

#15789 Move PHPUnit bootstrap condition to schema loader
  src/TestSuite/Fixture/SchemaGenerator.php
  src/TestSuite/Fixture/SchemaManager.php
  tests/TestCase/TestSuite/Fixture/SchemaGeneratorTest.php
  tests/TestCase/TestSuite/Fixture/SchemaManagerTest.php
  tests/bootstrap.php
Labels: testing

#15800 cake 5: Add test for app fixtures
  tests/TestCase/TestSuite/Fixture/FixtureHelperTest.php
Labels: fixtures, testing

#15799 Use User-Agent set in php.ini if available.
  src/Http/Client/Request.php
Labels: http

#15797 Change visibility of public properties of `Socket` class.
  src/Mailer/Transport/SmtpTransport.php
  src/Network/Socket.php
  tests/TestCase/Mailer/Transport/SmtpTransportTest.php
  tests/TestCase/Network/SocketTest.php
Labels: network
