Repository cakephp/cakephp, pull requests merged in 2021-09, with the labels that each got.

#15801 Backport fixture strategies to replace FixtureLoader
  phpstan-baseline.neon
  src/TestSuite/Fixture/CollectionResetStrategy.php
  src/TestSuite/Fixture/FixtureDataManager.php
  src/TestSuite/Fixture/FixtureHelper.php
  src/TestSuite/Fixture/FixtureInjector.php
  src/TestSuite/Fixture/FixtureLoader.php
  src/TestSuite/Fixture/FixtureManager.php
  src/TestSuite/Fixture/FixtureStrategyInterface.php
  src/TestSuite/Fixture/PHPUnitExtension.php
  src/TestSuite/Fixture/TransactionFixtureStrategy.php
  src/TestSuite/Fixture/TransactionResetStrategy.php
  src/TestSuite/Fixture/TruncateFixtureStrategy.php
  src/TestSuite/Fixture/TruncationResetStrategy.php
  src/TestSuite/TestCase.php
  tests/TestCase/Database/QueryTest.php
  tests/TestCase/Http/SessionTest.php
  tests/TestCase/ORM/RulesCheckerIntegrationTest.php
  tests/TestCase/TestSuite/Fixture/CollectionResetStrategyTest.php
  tests/TestCase/TestSuite/Fixture/FixtureDataManagerTest.php
  tests/TestCase/TestSuite/Fixture/FixtureHelperTest.php
  tests/TestCase/TestSuite/Fixture/TransactionFixtureStrategyTest.php
  tests/TestCase/TestSuite/Fixture/TransactionResetStrategyTest.php
  tests/TestCase/TestSuite/Fixture/TruncateFixtureStrategyTest.php
  tests/TestCase/TestSuite/Fixture/TruncationResetStrategyTest.php
  tests/TestCase/TestSuite/TestCaseTest.php
Labels: fixtures, backport

#15810 Remove redundant Fixture from strategy names
  src/TestSuite/Fixture/TransactionStrategy.php
  src/TestSuite/Fixture/TruncateStrategy.php
  src/TestSuite/TestCase.php
  tests/TestCase/TestSuite/Fixture/TransactionStrategyTest.php
  tests/TestCase/TestSuite/Fixture/TruncateStrategyTest.php
Labels: fixtures

#15804 Re-organize SchemaManager
  src/TestSuite/Fixture/SchemaLoader.php
  src/TestSuite/Fixture/SchemaManager.php
  tests/TestCase/TestSuite/Fixture/SchemaLoaderTest.php
  tests/TestCase/TestSuite/Fixture/SchemaManagerTest.php
Labels: fixtures

#15802 Return a `Closure` from `routes.php` files.
  src/Core/BasePlugin.php
  src/Http/BaseApplication.php
  tests/test_app/Plugin/TestPlugin/config/routes.php
  tests/test_app/config/routes.php
  tests/test_app/invalid_routes/routes.php
Labels: routing

#15813 Make FixtureHelper::loadFixtures() public
  src/TestSuite/Fixture/FixtureHelper.php
Labels: fixtures

#15816 Make finder functions protected
  src/ORM/Table.php
Labels: ORM

#15807 Use crlf in mail headers
  src/Mailer/Transport/MailTransport.php
  tests/TestCase/Mailer/Transport/MailTransportTest.php
Labels: email

#15821 cake 5: Add native type hints for Console properties
  src/Command/CompletionCommand.php
  src/Command/Helper/ProgressHelper.php
  src/Command/Helper/TableHelper.php
  src/Command/I18nExtractCommand.php
  src/Command/PluginAssetsTrait.php
  src/Command/PluginLoadCommand.php
  src/Command/ServerCommand.php
  src/Console/Arguments.php
  src/Console/BaseCommand.php
  src/Console/Command/HelpCommand.php
  src/Console/CommandCollection.php
  src/Console/CommandFactory.php
  src/Console/CommandRunner.php
  src/Console/ConsoleInput.php
  src/Console/ConsoleInputArgument.php
  src/Console/ConsoleInputOption.php
  src/Console/ConsoleInputSubcommand.php
  src/Console/ConsoleIo.php
  src/Console/ConsoleOptionParser.php
  src/Console/ConsoleOutput.php
  src/Console/Exception/MissingOptionException.php
  src/Console/HelpFormatter.php
  src/Console/Helper.php
  src/Console/HelperRegistry.php
Labels: enhancement, php

#15839 Remove deprecated code.
  psalm-baseline.xml
  src/Network/Socket.php
  src/ORM/Marshaller.php
  src/Routing/Router.php
  tests/TestCase/Network/SocketTest.php
  tests/TestCase/ORM/MarshallerTest.php
  tests/TestCase/Routing/RouterTest.php
  tests/TestCase/View/Helper/TimeHelperTest.php
Labels: cleanup

#15811 Deprecate non assoc options usage.
  src/View/Helper/FormHelper.php
  tests/TestCase/View/Helper/FormHelperTest.php
Labels: deprecations

#15834 cake 5: Add native type hints for Network properties
  src/Network/Socket.php
Labels: enhancement, php

#15829 cake 5: Add native type hints for Form properties
  src/Form/Form.php
  src/Form/FormProtector.php
  src/Form/Schema.php
  tests/test_app/TestApp/Form/AppForm.php
Labels: enhancement, php

#15826 cake 5: Add native type hints for Event properties
  phpstan-baseline.neon
  src/Event/Decorator/AbstractDecorator.php
  src/Event/Event.php
  src/Event/EventDispatcherTrait.php
  src/Event/EventList.php
  src/Event/EventManager.php
Labels: enhancement, php

#15828 cake 5: Add native type hints for Error properties
  src/Error/BaseErrorHandler.php
  src/Error/ConsoleErrorHandler.php
  src/Error/Debug/ArrayItemNode.php
  src/Error/Debug/ArrayNode.php
  src/Error/Debug/ClassNode.php
  src/Error/Debug/ConsoleFormatter.php
  src/Error/Debug/DebugContext.php
  src/Error/Debug/HtmlFormatter.php
  src/Error/Debug/PropertyNode.php
  src/Error/Debug/ReferenceNode.php
  src/Error/Debug/ScalarNode.php
  src/Error/Debug/SpecialNode.php
  src/Error/Debugger.php
  src/Error/ErrorLogger.php
  src/Error/ExceptionRenderer.php
  src/Error/Middleware/ErrorHandlerMiddleware.php
Labels: enhancement, php

#15831 cake 5: Add native type hints for I18n properties
  src/I18n/ChainMessagesLoader.php
  src/I18n/Date.php
  src/I18n/DateFormatTrait.php
  src/I18n/DateTime.php
  src/I18n/FormatterLocator.php
  src/I18n/I18n.php
  src/I18n/MessagesFileLoader.php
  src/I18n/Middleware/LocaleSelectorMiddleware.php
  src/I18n/Number.php
  src/I18n/Package.php
  src/I18n/PackageLocator.php
  src/I18n/PluralRules.php
  src/I18n/Translator.php
  src/I18n/TranslatorRegistry.php
Labels: enhancement, php

#15833 cake 5: Add native type hints for Mailer properties
  src/Mailer/AbstractTransport.php
  src/Mailer/Mailer.php
  src/Mailer/Message.php
  src/Mailer/Transport/SmtpTransport.php
  src/Mailer/TransportFactory.php
  tests/test_app/TestApp/Mailer/TestMailer.php
Labels: enhancement, php

#15837 cake 5: Add native type hints for Utility properties
  src/Utility/CookieCryptTrait.php
  src/Utility/Inflector.php
  src/Utility/Security.php
  src/Utility/Text.php
Labels: enhancement, php

#15827 cake 5: Add native type hints for Cache properties
  src/Cache/Cache.php
  src/Cache/CacheEngine.php
  src/Cache/Engine/ApcuEngine.php
  src/Cache/Engine/ArrayEngine.php
  src/Cache/Engine/FileEngine.php
  src/Cache/Engine/MemcachedEngine.php
  src/Cache/Engine/RedisEngine.php
Labels: enhancement, php

#15838 cake 5: Add native type hints for Validation properties
  src/Validation/RulesProvider.php
  src/Validation/Validation.php
  src/Validation/ValidationRule.php
  src/Validation/ValidationSet.php
  src/Validation/Validator.php
  src/Validation/ValidatorAwareTrait.php
Labels: enhancement, php

#15840 cake 5: Add native type hints for View properties
  src/View/AjaxView.php
  src/View/Cell.php
  src/View/Exception/MissingCellTemplateException.php
  src/View/Exception/MissingElementException.php
  src/View/Exception/MissingLayoutException.php
  src/View/Exception/MissingTemplateException.php
  src/View/Form/ArrayContext.php
  src/View/Form/ContextFactory.php
  src/View/Form/EntityContext.php
  src/View/Form/FormContext.php
  src/View/Helper.php
  src/View/Helper/BreadcrumbsHelper.php
  src/View/Helper/FormHelper.php
  src/View/Helper/HtmlHelper.php
  src/View/Helper/IdGeneratorTrait.php
  src/View/Helper/NumberHelper.php
  src/View/Helper/PaginatorHelper.php
  src/View/Helper/TextHelper.php
  src/View/Helper/TimeHelper.php
  src/View/Helper/UrlHelper.php
  src/View/HelperRegistry.php
  src/View/JsonView.php
  src/View/SerializedView.php
  src/View/StringTemplate.php
  src/View/StringTemplateTrait.php
  src/View/View.php
  src/View/ViewBlock.php
  src/View/ViewBuilder.php
  src/View/ViewVarsTrait.php
  src/View/Widget/BasicWidget.php
  src/View/Widget/ButtonWidget.php
  src/View/Widget/CheckboxWidget.php
  src/View/Widget/DateTimeWidget.php
  src/View/Widget/FileWidget.php
  src/View/Widget/LabelWidget.php
  src/View/Widget/MultiCheckboxWidget.php
  src/View/Widget/NestingLabelWidget.php
  src/View/Widget/RadioWidget.php
  src/View/Widget/SelectBoxWidget.php
  src/View/Widget/TextareaWidget.php
  src/View/Widget/WidgetLocator.php
  src/View/Widget/YearWidget.php
  src/View/XmlView.php
  tests/TestCase/Error/DebuggerTest.php
  tests/test_app/Plugin/TestPlugin/src/View/Helper/PluggedHelperHelper.php
  tests/test_app/TestApp/View/Cell/ArticlesCell.php
  tests/test_app/TestApp/View/Helper/TestHelper.php
Labels: enhancement, php

#15843 cake 5: Add native type hints for Collection properties
  src/Collection/Iterator/BufferedIterator.php
  src/Collection/Iterator/InsertIterator.php
  src/Collection/Iterator/MapReduce.php
  src/Collection/Iterator/ReplaceIterator.php
  src/Collection/Iterator/StoppableIterator.php
  src/Collection/Iterator/TreeIterator.php
  src/Collection/Iterator/TreePrinter.php
  src/Collection/Iterator/UnfoldIterator.php
  src/Collection/Iterator/ZipIterator.php
Labels: enhancement, php

#15832 cake 5: Add native type hints for Log properties
  src/Log/Engine/ArrayLog.php
  src/Log/Engine/BaseLog.php
  src/Log/Engine/ConsoleLog.php
  src/Log/Engine/FileLog.php
  src/Log/Engine/SyslogLog.php
  src/Log/Formatter/AbstractFormatter.php
  src/Log/Formatter/DefaultFormatter.php
  src/Log/Formatter/JsonFormatter.php
  src/Log/Log.php
Labels: enhancement, php

#15844 Replace DatabaseSuite with directory-based testsuite
  .github/workflows/ci.yml
  phpunit.xml.dist
  tests/TestCase/DatabaseSuite.php
  tests/bootstrap.php
Labels: testing

#15835 cake 5: Add native type hints for Routing properties
  src/Routing/Asset.php
  src/Routing/Middleware/AssetMiddleware.php
  src/Routing/Middleware/RoutingMiddleware.php
  src/Routing/Route/DashedRoute.php
  src/Routing/Route/InflectedRoute.php
  src/Routing/Route/RedirectRoute.php
  src/Routing/Route/Route.php
  src/Routing/RouteBuilder.php
  src/Routing/RouteCollection.php
  src/Routing/Router.php
Labels: enhancement, php

#15823 cake 5: Add native type hints for Database properties
  src/Database/Connection.php
  src/Database/Driver.php
  src/Database/Driver/Mysql.php
  src/Database/Driver/Postgres.php
  src/Database/Driver/Sqlite.php
  src/Database/Driver/Sqlserver.php
  src/Database/Expression/AggregateExpression.php
  src/Database/Expression/BetweenExpression.php
  src/Database/Expression/CaseExpression.php
  src/Database/Expression/CommonTableExpression.php
  src/Database/Expression/ComparisonExpression.php
  src/Database/Expression/FieldTrait.php
  src/Database/Expression/FunctionExpression.php
  src/Database/Expression/IdentifierExpression.php
  src/Database/Expression/OrderClauseExpression.php
  src/Database/Expression/QueryExpression.php
  src/Database/Expression/StringExpression.php
  src/Database/Expression/TupleComparison.php
  src/Database/Expression/UnaryExpression.php
  src/Database/Expression/ValuesExpression.php
  src/Database/Expression/WindowExpression.php
  src/Database/FieldTypeConverter.php
  src/Database/IdentifierQuoter.php
  src/Database/Log/LoggedQuery.php
  src/Database/Log/LoggingStatement.php
  src/Database/PostgresCompiler.php
  src/Database/Query.php
  src/Database/QueryCompiler.php
  src/Database/Retry/ErrorCodeWaitStrategy.php
  src/Database/Retry/ReconnectStrategy.php
  src/Database/Schema/CachedCollection.php
  src/Database/Schema/Collection.php
  src/Database/Schema/MysqlSchemaDialect.php
  src/Database/Schema/SchemaDialect.php
  src/Database/Schema/SqliteSchemaDialect.php
  src/Database/Schema/TableSchema.php
  src/Database/SchemaCache.php
  src/Database/SqliteCompiler.php
  src/Database/SqlserverCompiler.php
  src/Database/Statement/BufferResultsTrait.php
  src/Database/Statement/BufferedStatement.php
  src/Database/Statement/StatementDecorator.php
  src/Database/Type/BaseType.php
  src/Database/Type/DateTimeFractionalType.php
  src/Database/Type/DateTimeTimezoneType.php
  src/Database/Type/DateTimeType.php
  src/Database/Type/DateType.php
  src/Database/Type/DecimalType.php
  src/Database/Type/FloatType.php
  src/Database/Type/JsonType.php
  src/Database/Type/TimeType.php
  src/Database/TypeFactory.php
  src/Database/TypeMap.php
  src/Database/TypeMapTrait.php
  src/Database/TypedResultTrait.php
  src/Database/ValueBinder.php
  src/ORM/Query.php
  tests/TestCase/Database/DriverTest.php
  tests/TestCase/Database/Log/LoggedQueryTest.php
Labels: enhancement, php

#15845 cake 5: Add native type hints for ORM properties
  src/ORM/Association.php
  src/ORM/Association/BelongsTo.php
  src/ORM/Association/BelongsToMany.php
  src/ORM/Association/HasMany.php
  src/ORM/Association/HasOne.php
  src/ORM/Association/Loader/SelectLoader.php
  src/ORM/Association/Loader/SelectWithPivotLoader.php
  src/ORM/AssociationCollection.php
  src/ORM/Behavior.php
  src/ORM/Behavior/CounterCacheBehavior.php
  src/ORM/Behavior/TimestampBehavior.php
  src/ORM/Behavior/Translate/EavStrategy.php
  src/ORM/Behavior/Translate/ShadowTableStrategy.php
  src/ORM/Behavior/Translate/TranslateStrategyTrait.php
  src/ORM/Behavior/TranslateBehavior.php
  src/ORM/Behavior/TreeBehavior.php
  src/ORM/BehaviorRegistry.php
  src/ORM/EagerLoadable.php
  src/ORM/EagerLoader.php
  src/ORM/Exception/PersistenceFailedException.php
  src/ORM/Locator/LocatorAwareTrait.php
  src/ORM/Locator/TableLocator.php
  src/ORM/Marshaller.php
  src/ORM/Query.php
  src/ORM/ResultSet.php
  src/ORM/Rule/ExistsIn.php
  src/ORM/Rule/IsUnique.php
  src/ORM/Rule/LinkConstraint.php
  src/ORM/Rule/ValidCount.php
  src/ORM/SaveOptionsBuilder.php
  src/ORM/Table.php
  tests/TestCase/ORM/AssociationTest.php
  tests/test_app/Plugin/Company/TestPluginThree/src/Model/Table/TestPluginThreeCommentsTable.php
  tests/test_app/TestApp/Model/Behavior/DuplicateBehavior.php
  tests/test_app/TestApp/Model/Behavior/Test2Behavior.php
  tests/test_app/TestApp/Model/Table/ContactsTable.php
  tests/test_app/TestApp/Model/Table/MyUsersTable.php
  tests/test_app/TestApp/Model/Table/PostsTable.php
  tests/test_app/TestApp/Model/Table/ValidateUsersTable.php
Labels: enhancement, php

#15849 Rename TestConnectionManager to ConnectionHelper
  src/TestSuite/ConnectionHelper.php
  src/TestSuite/Fixture/PHPUnitExtension.php
  src/TestSuite/TestConnectionManager.php
  tests/TestCase/TestSuite/ConnectionHelperTest.php
Labels: fixtures

#15824 Add DriverInterface::supports()
  src/Database/Connection.php
  src/Database/Driver.php
  src/Database/Driver/Mysql.php
  src/Database/Driver/Postgres.php
  src/Database/Driver/Sqlite.php
  src/Database/Driver/Sqlserver.php
  src/Database/DriverInterface.php
  src/Database/Schema/MysqlSchemaDialect.php
  tests/TestCase/Database/Driver/MysqlTest.php
  tests/TestCase/Database/Driver/PostgresTest.php
  tests/TestCase/Database/Driver/SqliteTest.php
  tests/TestCase/Database/Driver/SqlserverTest.php
  tests/TestCase/Database/DriverTest.php
  tests/TestCase/Database/QueryTests/CommonTableExpressionQueryTests.php
  tests/TestCase/Database/QueryTests/WindowQueryTests.php
  tests/TestCase/Database/Schema/MysqlSchemaTest.php
  tests/TestCase/ORM/QueryTest.php
Labels: RFC, database

#15846 Clarify what Connection::supportsQuoting() covers
  src/Database/Connection.php
Labels: documentation

#15848 Add simple caching to fixture loading
  src/TestSuite/Fixture/FixtureHelper.php
Labels: fixtures

#15850 Deprecate Connection::supportsDynamicConstraints()
  psalm-baseline.xml
  src/Database/Connection.php
  src/Database/DriverInterface.php
Labels: database, deprecations

#15847 Expose PDO::inTransaction() with DriverInterface
  src/Database/Driver.php
  src/Database/DriverInterface.php
  tests/TestCase/Database/ConnectionTest.php
Labels: enhancement, database

#15851 Move SchemaGenerator into SchemaLoader
  src/TestSuite/Fixture/SchemaGenerator.php
  src/TestSuite/Fixture/SchemaLoader.php
  tests/TestCase/TestSuite/Fixture/SchemaGeneratorTest.php
  tests/TestCase/TestSuite/Fixture/SchemaLoaderTest.php
  tests/bootstrap.php
Labels: fixtures

#15852 Document the arrays more precisely.
  src/Command/PluginAssetsTrait.php
  src/Database/Schema/MysqlSchemaDialect.php
  src/Database/Schema/SqliteSchemaDialect.php
  src/Database/Schema/SqlserverSchemaDialect.php
  src/Database/SchemaCache.php
  src/Datasource/ConnectionManager.php
  src/Datasource/Paginator.php
  src/Error/Debugger.php
  src/Filesystem/File.php
  src/Filesystem/Folder.php
  src/Form/FormProtector.php
  src/Http/Cookie/CookieCollection.php
  src/Http/Cookie/CookieInterface.php
  src/Http/ServerRequest.php
  src/I18n/RelativeTimeFormatter.php
  src/Mailer/Message.php
  src/Mailer/Renderer.php
  src/ORM/Association/Loader/SelectLoader.php
  src/ORM/Rule/LinkConstraint.php
  src/Routing/Router.php
  src/Shell/Task/CommandTask.php
  src/View/Helper.php
  src/View/Helper/FormHelper.php
  src/View/Helper/PaginatorHelper.php
  src/View/Widget/BasicWidget.php
  src/View/Widget/DateTimeWidget.php
Labels: documentation

#15830 cake 5: Add native type hints for Http properties
  src/Http/BaseApplication.php
  src/Http/Client.php
  src/Http/Client/Adapter/Mock.php
  src/Http/Client/Adapter/Stream.php
  src/Http/Client/Auth/Digest.php
  src/Http/Client/Exception/NetworkException.php
  src/Http/Client/Exception/RequestException.php
  src/Http/Client/FormData.php
  src/Http/Client/FormDataPart.php
  src/Http/Client/Message.php
  src/Http/Client/Response.php
  src/Http/Cookie/Cookie.php
  src/Http/Cookie/CookieCollection.php
  src/Http/CorsBuilder.php
  src/Http/Exception/HttpException.php
  src/Http/FlashMessage.php
  src/Http/Middleware/BodyParserMiddleware.php
  src/Http/Middleware/ClosureDecoratorMiddleware.php
  src/Http/Middleware/CspMiddleware.php
  src/Http/Middleware/CsrfProtectionMiddleware.php
  src/Http/Middleware/EncryptedCookieMiddleware.php
  src/Http/Middleware/HttpsEnforcerMiddleware.php
  src/Http/Middleware/SecurityHeadersMiddleware.php
  src/Http/Middleware/SessionCsrfProtectionMiddleware.php
  src/Http/MiddlewareQueue.php
  src/Http/Response.php
  src/Http/ResponseEmitter.php
  src/Http/Runner.php
  src/Http/Server.php
  src/Http/ServerRequest.php
  src/Http/Session.php
  src/Http/Session/CacheSession.php
  src/Http/Session/DatabaseSession.php
  tests/TestCase/Http/ServerRequestTest.php
Labels: enhancement, php

#15858 cake 5: Add missing type hints for Mailer
  src/Mailer/Mailer.php
  src/Mailer/MailerAwareTrait.php
  src/Mailer/Message.php
  src/Mailer/Transport/SmtpTransport.php
  tests/TestCase/Mailer/MailerTest.php
Labels: php

#15864 Remove redundant condition.
  src/Datasource/Paginator.php
Labels: cleanup

#15859 Reset ident only if values were generated
  src/Database/Schema/SqlserverSchemaDialect.php
  tests/TestCase/Database/Schema/SqlserverSchemaTest.php
Labels: sqlserver, fixtures

#15865 Reset ident only if values were generated
  src/Database/Schema/SqlserverSchemaDialect.php
  tests/TestCase/Database/Schema/SqlserverSchemaTest.php
Labels: backport

#15856 Add return types to psr interface methods
  src/Http/Response.php
  src/Http/ServerRequest.php
Labels: http, php

#15872 Remove unused property.
  src/Controller/Controller.php
Labels: cleanup

#15877 Remove breakpoint() function.
  src/basics.php
Labels: cleanup

#15863 Accept only ConnectionInterface instances.
  src/Datasource/ConnectionManager.php
  src/Datasource/ConnectionRegistry.php
  tests/test_app/Plugin/TestPlugin/src/Datasource/TestSource.php
  tests/test_app/TestApp/Datasource/FakeConnection.php
Labels: datasource

#15885 Use nullable type hints instead of |null
  src/Datasource/QueryInterface.php
  src/Http/Cookie/CookieInterface.php
Labels: php

#15890 Use non-capturing catches where applicable.
  src/Cache/Engine/FileEngine.php
  src/Command/RoutesCheckCommand.php
  src/Command/RoutesGenerateCommand.php
  src/Console/ConsoleIo.php
  src/Controller/Controller.php
  src/Database/Query.php
  src/Database/Retry/ReconnectStrategy.php
  src/Database/Type/DateTimeType.php
  src/Error/ExceptionRenderer.php
  src/Event/Decorator/SubjectFilterDecorator.php
  src/Event/EventManager.php
  src/Http/BaseApplication.php
  src/Http/Cookie/CookieCollection.php
  src/Http/Middleware/BodyParserMiddleware.php
  src/Mailer/Transport/SmtpTransport.php
  src/Routing/Router.php
  src/TestSuite/Fixture/TestFixture.php
  src/Validation/Validation.php
  src/View/Form/EntityContext.php
  src/View/Widget/DateTimeWidget.php
Labels: cleanup

#15887 4.3: Consolidate event names. Backport
  src/Controller/Component.php
  tests/TestCase/Controller/ComponentTest.php
  tests/test_app/TestApp/Controller/Component/TestShutdownComponent.php
Labels: deprecations

#15884 5.0 Consolidate event names
  src/Controller/Component.php
Labels: controller

#15900 Update ConnectionManager::dropAlias() parameter name
  src/Datasource/ConnectionManager.php
Labels: cleanup

#15898 Use addHelpers() instead of bool flag param. Backport.
  src/View/CellTrait.php
  src/View/ViewBuilder.php
  tests/TestCase/Error/DebuggerTest.php
  tests/TestCase/Error/ExceptionRendererTest.php
  tests/TestCase/View/ViewBuilderTest.php
  tests/TestCase/View/ViewTest.php
Labels: deprecations

#15904 Remove unused vars.
  src/Console/CommandRunner.php
  src/Core/Configure/Engine/PhpConfig.php
  src/TestSuite/Fixture/FixtureHelper.php
Labels: cleanup

#15907 cake 5: Add mixed return to cache engine get()
  src/Cache/CacheEngine.php
  src/Cache/Engine/ArrayEngine.php
  src/Cache/Engine/FileEngine.php
  src/Cache/Engine/MemcachedEngine.php
  src/Cache/Engine/NullEngine.php
  src/Cache/Engine/RedisEngine.php
  tests/test_app/Plugin/TestPlugin/src/Cache/Engine/TestPluginCacheEngine.php
  tests/test_app/TestApp/Cache/Engine/TestAppCacheEngine.php
Labels: php

#15897 Fix namespaced plugin translation file path
  src/Command/I18nExtractCommand.php
  src/I18n/MessagesFileLoader.php
  tests/TestCase/Command/I18nExtractCommandTest.php
  tests/TestCase/I18n/I18nTest.php
  tests/TestCase/I18n/MessagesFileLoaderTest.php
  tests/test_app/Plugin/Company/TestPluginThree/resources/locales/en/company_test_plugin_three.po
Labels: i18n

#15913 Deprecate Association::setName().
  src/ORM/Association.php
  tests/TestCase/ORM/AssociationTest.php
  tests/TestCase/ORM/TableTest.php
Labels: deprecations

#15921 Fix MailContains escaping patterns multiple times
  src/TestSuite/Constraint/Email/MailContains.php
Labels: mailer

#15914 cake 5: Remove engine config from NumberHelper and TextHelper
  src/View/Helper/NumberHelper.php
  src/View/Helper/TextHelper.php
  tests/TestCase/View/Helper/NumberHelperTest.php
  tests/TestCase/View/Helper/TextHelperTest.php
  tests/test_app/Plugin/TestPlugin/src/Utility/TestPluginEngine.php
  tests/test_app/TestApp/Utility/NumberMock.php
  tests/test_app/TestApp/Utility/TestAppEngine.php
  tests/test_app/TestApp/Utility/TextMock.php
  tests/test_app/TestApp/View/Helper/NumberHelperTestObject.php
  tests/test_app/TestApp/View/Helper/TextHelperTestObject.php
Labels: helpers

#15917 Make ShadowTable the default strategy for TranslateBehavior.
  src/ORM/Behavior/TranslateBehavior.php
  tests/TestCase/ORM/Behavior/BehaviorRegressionTest.php
  tests/TestCase/ORM/Behavior/TranslateBehaviorEavTest.php
  tests/TestCase/ORM/Behavior/TranslateBehaviorShadowTableTest.php
Labels: RFC, behaviors

#15933 Rename BaseLog::resolve() to interpolate()
  src/Log/Engine/BaseLog.php
Labels: log

#15932 Disable slash escaping by default in JsonFormatter
  src/Log/Formatter/JsonFormatter.php
Labels: log

#15934 Document the `_port` option.
  src/Routing/Route/Route.php
  src/Routing/RouteBuilder.php
Labels: documentation

#15936 Append newline to JsonFormatter output by default
  src/Log/Formatter/JsonFormatter.php
  tests/TestCase/Log/Engine/ConsoleLogTest.php
Labels: log

#15937 Move php8 only attributes inside docblock.
  src/Collection/Iterator/BufferedIterator.php
  src/Collection/Iterator/ExtractIterator.php
  src/Collection/Iterator/InsertIterator.php
  src/Collection/Iterator/ReplaceIterator.php
  src/Collection/Iterator/TreePrinter.php
  src/Collection/Iterator/ZipIterator.php
  src/Database/Query.php
  src/Database/Statement/BufferedStatement.php
  src/Database/Statement/StatementDecorator.php
  src/Datasource/EntityTrait.php
  src/Event/EventList.php
  src/Http/Session/CacheSession.php
  src/Http/Session/DatabaseSession.php
  src/I18n/DateFormatTrait.php
  src/I18n/Parser/MoFileParser.php
  src/ORM/ResultSet.php
  tests/test_app/Plugin/TestPlugin/src/Http/Session/TestPluginSession.php
  tests/test_app/TestApp/Database/Driver/TestDriver.php
  tests/test_app/TestApp/Http/Client/Adapter/CakeStreamWrapper.php
  tests/test_app/TestApp/Http/Session/TestAppLibSession.php
Labels: documentation

#15940 backport: Reset ident only if values were generated
  src/Database/Schema/SqlserverSchema.php
  tests/TestCase/Database/Schema/SqlserverSchemaTest.php
Labels: backport

#15886 Use addHelpers() instead of bool flag param.
  src/Error/ExceptionRenderer.php
  src/Mailer/Mailer.php
  src/Mailer/Renderer.php
  src/View/ViewBuilder.php
  tests/TestCase/View/CellTest.php
  tests/TestCase/View/ViewBuilderTest.php
Labels: RFC, enhancement

#15948 Improve code flow as per bail early principle.
  src/Console/Arguments.php
  src/Console/ConsoleIo.php
  src/Controller/Component/RequestHandlerComponent.php
  src/Database/Expression/QueryExpression.php
  src/Database/Type/IntegerType.php
  src/Event/EventList.php
  src/Http/Client/Response.php
  src/Http/Middleware/BodyParserMiddleware.php
  src/Http/ServerRequest.php
  src/I18n/DateFormatTrait.php
  src/Log/Log.php
  src/Network/Socket.php
  src/Validation/ValidationSet.php
  src/View/Form/EntityContext.php
  src/View/Form/FormContext.php
  src/View/View.php
Labels: cleanup

#15951 Mark TestCase::loadFixtures() deprecated
  psalm-baseline.xml
  src/TestSuite/TestCase.php
Labels: fixtures, deprecations

#15954 Update Link to ICU DateTime Format Syntax
  src/Core/ServiceConfig.php
  src/I18n/DateFormatTrait.php
Labels: i18n

#15943 cake 5: Add version to deprecationWarning()
  src/Controller/Component.php
  src/Core/functions.php
  tests/TestCase/Core/FunctionsTest.php
Labels: enhancement, deprecations

#15939 cake 5: Set allowMultipleNulls default to true for IsUnique
  src/ORM/Rule/IsUnique.php
  tests/TestCase/ORM/RulesCheckerIntegrationTest.php
Labels: ORM

#15957 Remove unused element
  src/View/AjaxView.php
  src/View/XmlView.php
Labels: cleanup

#15949 Clarify assoc behavior and merging.
  src/Database/Schema/TableSchema.php
  src/Datasource/SchemaInterface.php
  src/Http/Client/Response.php
  src/View/ViewBuilder.php
  tests/TestCase/View/ViewBuilderTest.php
Labels: cleanup

#15965 Fix issues found by PHPStan in tests/
  tests/TestCase/Console/CommandRunnerTest.php
  tests/TestCase/Error/DebuggerTest.php
Labels: cleanup

#15967 Clarify assoc array in docblock.
  src/Auth/DigestAuthenticate.php
  src/Console/ConsoleOptionParser.php
  src/Controller/Component/PaginatorComponent.php
  src/Controller/Component/SecurityComponent.php
  src/Controller/Controller.php
  src/Database/Connection.php
  src/Database/Driver.php
  src/Database/Query.php
  src/Database/Schema/PostgresSchemaDialect.php
  src/Database/Schema/TableSchema.php
  src/Database/Schema/TableSchemaInterface.php
  src/Database/Type/ColumnSchemaAwareInterface.php
  src/Datasource/ConnectionManager.php
  src/Datasource/Paginator.php
  src/Datasource/SchemaInterface.php
  src/Form/FormProtector.php
  src/Form/Schema.php
  src/Mailer/Message.php
  src/ORM/Association.php
  src/ORM/AssociationCollection.php
  src/ORM/EagerLoader.php
  src/ORM/Entity.php
  src/ORM/Query.php
  src/TestSuite/Stub/ConsoleOutput.php
  src/TestSuite/TestCase.php
  src/Validation/Validation.php
  src/Validation/ValidationRule.php
  src/Validation/Validator.php
  src/View/Helper/FormHelper.php
  src/View/Helper/HtmlHelper.php
  src/View/Helper/PaginatorHelper.php
  src/View/Helper/TextHelper.php
  src/View/ViewBuilder.php
  src/View/Widget/SelectBoxWidget.php
Labels: documentation

#15963 Use phpstan level 1 to check basic tests sanity.
  .github/workflows/ci.yml
  composer.json
  tests/TestCase/Database/QueryTest.php
  tests/TestCase/ORM/Association/BelongsToManyTest.php
  tests/TestCase/ORM/Association/BelongsToTest.php
  tests/TestCase/ORM/Association/HasManyTest.php
  tests/TestCase/ORM/Association/HasOneTest.php
  tests/TestCase/ORM/Behavior/CounterCacheBehaviorTest.php
  tests/TestCase/ORM/BehaviorRegistryTest.php
  tests/TestCase/ORM/EagerLoaderTest.php
  tests/TestCase/ORM/ResultSetTest.php
  tests/TestCase/ORM/SaveOptionsBuilderTest.php
  tests/TestCase/ORM/TableComplexIdTest.php
  tests/TestCase/Utility/XmlTest.php
  tests/phpstan.neon
Labels: testing

#15973 Add phpstan for tests.
  templates/Error/missing_cell_template.php
  tests/TestCase/Auth/ControllerAuthorizeTest.php
  tests/TestCase/Auth/DigestAuthenticateTest.php
  tests/TestCase/Auth/Storage/SessionStorageTest.php
  tests/TestCase/Console/ShellDispatcherTest.php
  tests/TestCase/Controller/Component/AuthComponentTest.php
  tests/TestCase/Controller/Component/FlashComponentTest.php
  tests/TestCase/Controller/Component/SecurityComponentTest.php
  tests/TestCase/Controller/ControllerFactoryTest.php
  tests/TestCase/Controller/Exception/AuthSecurityExceptionTest.php
  tests/TestCase/Error/ExceptionRendererTest.php
  tests/TestCase/Http/MiddlewareQueueTest.php
  tests/TestCase/Http/RunnerTest.php
  tests/TestCase/I18n/TimeTest.php
  tests/TestCase/Mailer/Transport/DebugTransportTest.php
  tests/TestCase/Routing/RouterTest.php
  tests/TestCase/View/Helper/FormHelperTest.php
  tests/TestCase/View/Helper/NumberHelperTest.php
  tests/TestCase/View/Helper/TextHelperTest.php
  tests/TestCase/View/ViewTest.php
  tests/TestCase/View/Widget/BasicWidgetTest.php
  tests/TestCase/View/Widget/ButtonWidgetTest.php
  tests/TestCase/View/Widget/CheckboxWidgetTest.php
  tests/TestCase/View/Widget/DateTimeWidgetTest.php
  tests/TestCase/View/Widget/FileWidgetTest.php
  tests/TestCase/View/Widget/LabelWidgetTest.php
  tests/TestCase/View/Widget/MultiCheckboxWidgetTest.php
  tests/TestCase/View/Widget/RadioWidgetTest.php
  tests/TestCase/View/Widget/SelectBoxWidgetTest.php
  tests/TestCase/View/Widget/TextareaWidgetTest.php
  tests/phpstan.neon
Labels: cleanup

#15980 Clarify assoc array in docblock.
  src/Mailer/Email.php
  src/Mailer/Message.php
  src/Utility/Xml.php
  src/Validation/Validation.php
  src/Validation/ValidationRule.php
  src/Validation/Validator.php
  src/View/Form/ContextFactory.php
  src/View/Helper/HtmlHelper.php
  src/View/Helper/PaginatorHelper.php
  src/View/View.php
  src/View/ViewBuilder.php
  src/View/Widget/WidgetInterface.php
Labels: documentation

#15978 Fix DateType not clearing time for DateTimeImmutable
  src/Database/Type/DateType.php
Labels: database

#15982 backport: Fix DateType not clearing time for DateTimeImmutable
  src/Database/Type/DateType.php
Labels: database, backport

#15983 backport: Allow association binding key to be null during cascadeDelete
  src/ORM/Association/DependentDeleteHelper.php
  tests/Fixture/NullableAuthorsFixture.php
  tests/TestCase/ORM/Association/HasOneTest.php
Labels: ORM, backport

#15974 Re-organize controller action argument building
  src/Controller/ControllerFactory.php
  tests/TestCase/Controller/ControllerFactoryTest.php
  tests/test_app/TestApp/Controller/DependenciesController.php
Labels: controller

#15947 Add convenience method LocatorAwareTrait::getTable().
  psalm-baseline.xml
  src/Command/Command.php
  src/Controller/Controller.php
  src/Datasource/ModelAwareTrait.php
  src/Mailer/Mailer.php
  src/ORM/Locator/LocatorAwareTrait.php
  src/View/Cell.php
  tests/TestCase/Console/CommandTest.php
  tests/TestCase/Controller/ControllerTest.php
  tests/TestCase/Datasource/ModelAwareTraitTest.php
  tests/test_app/TestApp/Command/AutoLoadModelCommand.php
  tests/test_app/TestApp/Command/DependencyCommand.php
  tests/test_app/TestApp/Controller/ArticlesController.php
  tests/test_app/TestApp/Controller/WithDefaultTableController.php
  tests/test_app/TestApp/Stub/Stub.php
Labels: enhancement
