Repository cakephp/cakephp, pull requests merged in 2021-12, with the labels that each got.

#16162 Add AllowDynamicProperties attribute to Shell
  src/Console/Shell.php
Labels: php

#16163 Add AllowDynamicProperties attribute to Command
  src/Command/Command.php
Labels: php

#16160 Change incorrect 'optional' argument option to 'required'
  src/Command/PluginAssetsCopyCommand.php
  src/Command/PluginAssetsRemoveCommand.php
  src/Command/PluginAssetsSymlinkCommand.php
  src/Command/SchemacacheBuildCommand.php
  src/Command/SchemacacheClearCommand.php
  tests/TestCase/Command/PluginAssetsCommandsTest.php
Labels: php

#16173 Remove deprecated CaseExpression
  psalm-baseline.xml
  src/Database/Expression/CaseExpression.php
  src/Database/Expression/QueryExpression.php
  tests/TestCase/Database/Expression/CaseExpressionTest.php
  tests/TestCase/Database/Expression/QueryExpressionTest.php
  tests/TestCase/Database/ExpressionTypeCastingTest.php
  tests/TestCase/Database/QueryTest.php
Labels: deprecations

#16175 Update deprecated tag with 6.0 removal
  src/Controller/Component/PaginatorComponent.php
Labels: deprecations

#16183 Add note about url() not allowing local URLs
  src/Validation/Validation.php
Labels: validation, documentation

#16174 Suppress missing attribute class errors
  phpstan.neon
  psalm.xml
  src/Command/Command.php
Labels: php

#16184 Improve docblocks of assoc arrays.
  src/Form/Form.php
  src/Form/FormProtector.php
  tests/test_app/TestApp/Model/Table/ArticlesTable.php
  tests/test_app/TestApp/Model/Table/AuthUsersTable.php
  tests/test_app/TestApp/Model/Table/AuthorsTable.php
  tests/test_app/TestApp/Model/Table/GreedyCommentsTable.php
  tests/test_app/TestApp/Utility/Base.php
Labels: documentation

#16186 Remove unneeded attributes
  phpstan.neon
  psalm.xml
  src/Command/Command.php
  tests/test_app/TestApp/Http/Client/Adapter/CakeStreamWrapper.php
Labels: php

#16192 Revert FixtureManager::_runOperation() to 4.2 behavior
  src/TestSuite/Fixture/FixtureManager.php
Labels: fixtures

#16195 Add or suppress missing property type declarations
  src/Collection/Iterator/ZipIterator.php
  src/Controller/Exception/InvalidParameterException.php
  src/Database/Expression/CaseStatementExpression.php
  src/Database/Expression/WhenThenExpression.php
  src/Database/Statement/BufferedStatement.php
  src/Database/Statement/PDOStatement.php
  src/Database/Statement/StatementDecorator.php
  src/Http/ContentTypeNegotiation.php
  src/Http/Middleware/CspMiddleware.php
  src/TestSuite/Fixture/SchemaLoader.php
Labels: php

#16197 Add or suppress missing return type declarations
  src/Command/Command.php
  src/Console/BaseCommand.php
  src/Controller/Controller.php
  src/Controller/ErrorController.php
  src/Database/DriverInterface.php
  src/Database/Expression/CaseStatementExpression.php
  src/Database/Expression/WhenThenExpression.php
  src/Datasource/FixtureInterface.php
  src/Http/ServerRequest.php
  src/TestSuite/ConnectionHelper.php
  src/TestSuite/Fixture/FixtureHelper.php
  src/TestSuite/TestCase.php
Labels: php

#16199 Backport anonymous function returns
  src/TestSuite/ConnectionHelper.php
  src/TestSuite/Fixture/FixtureHelper.php
  src/TestSuite/TestCase.php
Labels: php

#16200 Add or suppress missing parameter type declarations
  src/Cache/CacheEngine.php
  src/Controller/Exception/InvalidParameterException.php
  src/Database/Connection.php
  src/Database/Expression/CaseExpressionTrait.php
  src/Database/Expression/CaseStatementExpression.php
  src/Database/Expression/QueryExpression.php
  src/Database/Expression/WhenThenExpression.php
  src/Database/Query.php
  src/Http/Response.php
  src/Http/ServerRequest.php
  src/Http/ServerRequestFactory.php
  src/I18n/DateFormatTrait.php
  src/Log/Engine/ArrayLog.php
  src/Log/Engine/ConsoleLog.php
  src/Log/Engine/FileLog.php
  src/Log/Engine/SyslogLog.php
  src/TestSuite/Constraint/Response/BodyContains.php
  src/TestSuite/Constraint/Response/BodyEmpty.php
  src/TestSuite/Constraint/Response/BodyEquals.php
  src/TestSuite/Constraint/Response/BodyNotContains.php
  src/TestSuite/Constraint/Response/BodyNotEmpty.php
  src/TestSuite/Constraint/Response/BodyNotEquals.php
  src/TestSuite/Constraint/Response/BodyNotRegExp.php
  src/TestSuite/Constraint/Response/BodyRegExp.php
  src/TestSuite/Constraint/Response/ContentType.php
  src/TestSuite/Constraint/Response/CookieEncryptedEquals.php
  src/TestSuite/Constraint/Response/CookieEquals.php
  src/TestSuite/Constraint/Response/CookieNotSet.php
  src/TestSuite/Constraint/Response/CookieSet.php
  src/TestSuite/Constraint/Response/FileSent.php
  src/TestSuite/Constraint/Response/FileSentAs.php
  src/TestSuite/Constraint/Response/HeaderContains.php
  src/TestSuite/Constraint/Response/HeaderEquals.php
  src/TestSuite/Constraint/Response/HeaderNotContains.php
  src/TestSuite/Constraint/Response/HeaderNotSet.php
  src/TestSuite/Constraint/Response/HeaderSet.php
  src/TestSuite/Constraint/Response/StatusCodeBase.php
  tests/TestCase/Database/Expression/CaseStatementExpressionTest.php
Labels: php

#16181 Add Uri subclass to avoid dynamic properties
  phpstan-baseline.neon
  src/Http/ServerRequestFactory.php
  src/Http/Uri.php
  tests/TestCase/Http/UriTest.php
Labels: RFC, http

#16203 Add AllowDynamicProperties attribute to Controller
  src/Controller/Controller.php
Labels: php

#16204 Add AllowDynamicProperties attribute to Component
  src/Controller/Component.php
Labels: php

#16206 Fix documentation of fetchAssoc() return value
  src/Database/Statement/StatementDecorator.php
Labels: documentation

#16211 Add AllowDynamicProperties attributes
  src/Mailer/Mailer.php
  src/View/Cell.php
  src/View/Helper.php
  src/View/View.php
Labels: php

#16213 Fix query test.
  .github/workflows/ci.yml
  tests/TestCase/Database/QueryTest.php
Labels: testing

#16224 Throw BadRequestException for invalid HTTP methods when parsing.
  src/Routing/Route/Route.php
  tests/TestCase/Routing/Route/RouteTest.php
Labels: routing

#16226 Improve exception logging.
  src/Error/ExceptionRenderer.php
Labels: errorhandler
