Repository cakephp/cakephp, pull requests merged in 2021-10, with the labels that each got.

#15985 Fix belongstomany delete callbacks getting wrong entity type
  src/ORM/Association/BelongsToMany.php
  tests/TestCase/ORM/Association/BelongsToManyTest.php
Labels: ORM

#15984 Add action float, int and bool type coercion for passed parameters
  src/Controller/ControllerFactory.php
  tests/TestCase/Controller/ControllerFactoryTest.php
  tests/test_app/TestApp/Controller/DependenciesController.php
Labels: enhancement, controller

#15989 Handle finder array in replaceLinks()
  src/ORM/Association/BelongsToMany.php
  tests/TestCase/ORM/Association/BelongsToManyTest.php
Labels: ORM

#15988 Rename preserveKeys to keepKeys
  src/Collection/CollectionInterface.php
  src/Collection/CollectionTrait.php
Labels: collection

#15996 Update sqlite window support version to 3.28.0
  src/Database/Driver/Sqlite.php
Labels: database

#15991 Add InvalidParameterException for passed parameter and action mismatches
  src/Controller/ControllerFactory.php
  src/Controller/Exception/InvalidParameterException.php
  src/Error/ExceptionRenderer.php
  templates/Error/invalid_parameter.php
  tests/TestCase/Controller/ControllerFactoryTest.php
  tests/TestCase/Error/ExceptionRendererTest.php
Labels: controller

#15994 Insert load plugin at the end of bootstrap()
  src/Command/PluginLoadCommand.php
  tests/TestCase/Command/PluginLoadCommandTest.php
  tests/test_app/TestApp/Application.php
Labels: console

#15935 improve deprecated method
  src/Core/functions.php
  src/TestSuite/TestCase.php
  tests/TestCase/Core/FunctionsTest.php
  tests/TestCase/TestSuite/TestCaseTest.php
  tests/TestCase/Validation/ValidatorTest.php
  tests/TestCase/View/ViewBuilderTest.php
Labels: deprecations

#16004 rename deprecation config name
  src/Core/functions.php
  src/TestSuite/TestCase.php
Labels: deprecations

#16006 cake 5: Add test for unsupported union action parameter
  src/Controller/ControllerFactory.php
  tests/TestCase/Controller/ControllerFactoryTest.php
  tests/test_app/TestApp/Controller/DependenciesController.php
Labels: controller

#16011 cake 5: Remove TableSchemaAwareInterface from TestFixture
  src/Database/Schema/TableSchemaAwareInterface.php
  src/TestSuite/Fixture/TestFixture.php
  tests/TestCase/TestSuite/TestFixtureTest.php
Labels: fixtures

#16084 Update to psr/simple-cache v3.
  composer.json
  src/Cache/CacheEngine.php
  src/Cache/Engine/ApcuEngine.php
  src/Cache/Engine/ArrayEngine.php
  src/Cache/Engine/FileEngine.php
  src/Cache/Engine/MemcachedEngine.php
  src/Cache/Engine/NullEngine.php
  src/Cache/Engine/RedisEngine.php
  src/Cache/composer.json
  tests/TestCase/Cache/Engine/ArrayEngineTest.php
Labels: cache
