Repository cakephp/cakephp, pull requests merged in 2022-12, with the labels that each got.

#16893 Allow using an array for SelectQuery::selectTypeMap().
  src/Database/Query/SelectQuery.php
  tests/TestCase/Database/Query/SelectQueryTest.php
Labels: database

#16847 Change behavior of EntityInterface::has().
  src/Core/Exception/CakeException.php
  src/Datasource/EntityInterface.php
  src/Datasource/EntityTrait.php
  src/Datasource/Exception/MissingPropertyException.php
  tests/TestCase/ORM/EntityTest.php
Labels: enhancement, ORM

#16879 Added a protected property to configure the properties that can be serialized within the Mailer/Message
  src/Mailer/Message.php
  tests/TestCase/Mailer/MessageTest.php
Labels: enhancement, mailer

#16898 add support for trustedProxies
  src/Http/Middleware/HttpsEnforcerMiddleware.php
  tests/TestCase/Http/Middleware/HttpsEnforcerMiddlewareTest.php
Labels: enhancement

#16908 Parse only positional arguments after double-dash
  src/Console/ConsoleOptionParser.php
  tests/TestCase/Console/ConsoleOptionParserTest.php
Labels: enhancement, console

#16910 Fix type error.
  src/Datasource/Paging/NumericPaginator.php
  tests/TestCase/Datasource/Paging/NumericPaginatorTest.php
Labels: bug

#16917 Use assoc array as cleaner and more DRY structure
  src/TestSuite/Fixture/SchemaLoader.php
  tests/schema.php
Labels: enhancement

#16919 Backport schema loader improvements.
  src/TestSuite/Fixture/SchemaLoader.php
  tests/schema.php
Labels: enhancement
