Repository cakephp/cakephp, pull requests merged in 2022-09, with the labels that each got.

#16710 Improve test suite assertion messages
  src/TestSuite/IntegrationTestTrait.php
  tests/TestCase/TestSuite/IntegrationTestTraitTest.php
  tests/test_app/TestApp/Controller/PostsController.php
Labels: enhancement

#16726 Remove windows-specific i18n string
  tests/TestCase/I18n/DateTimeTest.php
Labels: testing

#16725 Fix type related deprecation warning.
  src/Routing/Route/Route.php
  tests/TestCase/Routing/RouterTest.php
Labels: bug

#16729 Drop quoting related methods from Connection class.
  src/Database/Connection.php
  tests/TestCase/Database/ConnectionTest.php
  tests/TestCase/Database/Driver/MysqlTest.php
  tests/TestCase/Database/Driver/SqliteTest.php
  tests/TestCase/ORM/Association/HasManyTest.php
Labels: database

#16741 Assert that finder options argument is an associative array
  src/ORM/Table.php
Labels: ORM

#16739 Remove unneeded method.
  src/ORM/Table.php
  tests/TestCase/ORM/TableTest.php
Labels: ORM

#16747 Fix auto increment detection for tables with non-id primary keys
  src/Database/Schema/MysqlSchemaDialect.php
  src/Database/Schema/PostgresSchemaDialect.php
  src/Database/Schema/SqliteSchemaDialect.php
  src/Database/Schema/SqlserverSchemaDialect.php
  src/Database/Schema/TableSchema.php
  tests/Fixture/FeaturedTagsFixture.php
  tests/TestCase/Database/Schema/MysqlSchemaTest.php
  tests/TestCase/Database/Schema/PostgresSchemaTest.php
  tests/TestCase/Database/Schema/SqliteSchemaTest.php
  tests/TestCase/Database/Schema/SqlserverSchemaTest.php
  tests/TestCase/Database/Type/EnumTypeTest.php
  tests/TestCase/ORM/TableTest.php
Labels: defect, database

#16754 Remove redundancy in regex.
  src/View/StringTemplate.php
Labels: cleanup

#16762 Simplify return value.
  src/Database/Driver.php
  src/Database/Query.php
  tests/TestCase/Database/DriverTest.php
Labels: database

#16763 Drop SqlDialectTrait.
  src/Database/Driver.php
  src/Database/Driver/Mysql.php
  src/Database/Driver/Postgres.php
  src/Database/Driver/SqlDialectTrait.php
  src/Database/Driver/Sqlite.php
  src/Database/Driver/Sqlserver.php
Labels: database

#16764 5.x driver
  src/Database/Driver.php
  src/Database/IdentifierQuoter.php
  src/Database/Query.php
  tests/TestCase/Database/Driver/PostgresTest.php
  tests/TestCase/Database/DriverTest.php
  tests/TestCase/ORM/Association/HasManyTest.php
Labels: database

#16758 4.5 - Error page refresh
  templates/element/dev_error_stacktrace.php
  templates/layout/dev_error.php
Labels: enhancement, errorhandler

#16768 Drop TypeConverterTrait.
  src/Database/Statement/Statement.php
  src/Database/TypeConverterTrait.php
Labels: database
