Repository cakephp/cakephp, pull requests merged in 2022-10, with the labels that each got.

#16751 5.x - cleanup debugger css classes
  src/Error/Debug/HtmlFormatter.php
  src/Error/Debug/dumpHeader.html
  src/Error/Debugger.php
  tests/TestCase/Error/Debug/HtmlFormatterTest.php
  tests/TestCase/Error/DebuggerTest.php
Labels: cleanup

#16800 4.5 - ORM\DeleteQuery shims
  src/ORM/Query.php
  src/ORM/Query/DeleteQuery.php
  src/ORM/Table.php
  tests/TestCase/ORM/QueryTests/ForwardsCompatibilityTest.php
  tests/TestCase/ORM/TableTest.php
Labels: ORM

#16807 4.5 - Add InsertQuery
  src/ORM/Query/InsertQuery.php
  src/ORM/Table.php
  tests/TestCase/ORM/QueryTests/ForwardsCompatibilityTest.php
  tests/TestCase/ORM/TableTest.php
Labels: ORM

#16785 Add read/write connection configurations
  phpstan-baseline.neon
  src/Database/Connection.php
  src/Database/Query.php
  src/Datasource/ConnectionInterface.php
  src/Datasource/ConnectionManager.php
  tests/TestCase/Database/ConnectionTest.php
  tests/TestCase/Database/QueryTest.php
  tests/TestCase/Datasource/ConnectionManagerTest.php
Labels: enhancement, database

#16817 Add ORM\Query::selectAlso() which does not disable auto-selecting fields
  src/ORM/Query.php
  tests/TestCase/ORM/QueryTest.php
Labels: enhancement, ORM

#16818 Add orderBy() and groupBy() to match sql
  src/Database/Driver.php
  src/Database/Driver/Sqlserver.php
  src/Database/Expression/AggregateExpression.php
  src/Database/Expression/WindowExpression.php
  src/Database/Expression/WindowInterface.php
  src/Database/Query.php
  src/Database/Query/SelectQuery.php
  src/Datasource/QueryInterface.php
  src/ORM/Association/Loader/SelectLoader.php
  src/ORM/Behavior/TreeBehavior.php
  src/ORM/Query/SelectQuery.php
  tests/TestCase/Database/Driver/PostgresTest.php
  tests/TestCase/Database/Driver/SqlserverTest.php
  tests/TestCase/Database/Expression/AggregateExpressionTest.php
  tests/TestCase/Database/Expression/WindowExpressionTest.php
  tests/TestCase/Database/ExpressionTypeCastingIntegrationTest.php
  tests/TestCase/Database/Query/SelectQueryTest.php
  tests/TestCase/Database/QueryTest.php
  tests/TestCase/Database/QueryTests/CaseExpressionQueryTest.php
  tests/TestCase/Database/QueryTests/TupleComparisonQueryTest.php
  tests/TestCase/Database/QueryTests/WindowQueryTest.php
  tests/TestCase/ORM/Association/BelongsToManyTest.php
  tests/TestCase/ORM/Association/BelongsToTest.php
  tests/TestCase/ORM/Association/HasManyTest.php
  tests/TestCase/ORM/Association/HasOneTest.php
  tests/TestCase/ORM/Behavior/TranslateBehaviorEavTest.php
  tests/TestCase/ORM/Behavior/TranslateBehaviorShadowTableTest.php
  tests/TestCase/ORM/Behavior/TreeBehaviorTest.php
  tests/TestCase/ORM/ColumnSchemaAwareTypeIntegrationTest.php
  tests/TestCase/ORM/Query/CaseExpressionQueryTest.php
  tests/TestCase/ORM/Query/CompositeKeysTest.php
  tests/TestCase/ORM/Query/QueryRegressionTest.php
  tests/TestCase/ORM/Query/SelectQueryTest.php
  tests/TestCase/ORM/ResultSetTest.php
  tests/TestCase/ORM/Rule/LinkConstraintTest.php
  tests/TestCase/ORM/TableTest.php
Labels: enhancement, database

#16828 Fix fetching driver config.
  src/Database/Driver.php
  src/Database/DriverInterface.php
  src/Database/Schema/Collection.php
  tests/TestCase/Database/Schema/CollectionTest.php
Labels: database

#16822 Fix method signature in DocBlock
  src/ORM/Query.php
Labels: documentation
