Repository cakephp/cakephp, pull requests merged in 2023-07, with the labels that each got.

#17176 Add __debugInfo to ValueBinder
  src/Database/ValueBinder.php
  tests/TestCase/Database/ValueBinderTest.php
Labels: enhancement

#17180 phpdoc: CollectionInterface::sortBy() descending order
  src/Collection/CollectionInterface.php
Labels: defect, collection

#17169 5.x: add command events
  src/Console/BaseCommand.php
  src/Console/CommandRunner.php
  tests/TestCase/Console/CommandRunnerTest.php
Labels: events, console

#17183 Improve query logging scope
  src/Database/Log/QueryLogger.php
  src/Database/Query.php
  tests/TestCase/Database/ConnectionTest.php
  tests/TestCase/Database/Log/QueryLoggerTest.php
Labels: enhancement, log

#17194 5.x: skip abstract command being auto discovered
  src/Console/CommandScanner.php
  tests/TestCase/Console/Command/HelpCommandTest.php
  tests/test_app/TestApp/Command/AbstractCommand.php
Labels: console

#17190 Fix url generation when paging using modulus
  src/View/Helper/PaginatorHelper.php
  tests/TestCase/View/Helper/PaginatorHelperTest.php
Labels: bug

#17207 Make assertion requirement for testing env more explicit.
  phpunit.xml.dist
  tests/bootstrap.php
  tests/check.php
Labels: documentation
