Repository cakephp/cakephp, pull requests merged in 2023-05, with the labels that each got.

#17127 Fix Validation::utf8 to fail on invalid bytes
  src/Validation/Validation.php
  tests/TestCase/Validation/ValidationTest.php
Labels: validation

#17135 5.x: remove deprecated RouteCollection::parse
  src/Routing/RouteCollection.php
  tests/TestCase/Http/Middleware/BodyParserMiddlewareTest.php
  tests/TestCase/Routing/RouteBuilderTest.php
  tests/TestCase/Routing/RouteCollectionTest.php
Labels: deprecations

#17142 Feature/form input container with label
  src/View/Helper/FormHelper.php
  tests/TestCase/View/Helper/FormHelperTest.php
Labels: enhancement

#17137 5.x: Use I18n\Time for TimeType
  src/Database/Type/TimeType.php
  src/Database/composer.json
  tests/TestCase/Database/Type/TimeTypeTest.php
Labels: database
